<%= form_with(model: forwarding) do |form| %>
  <% if forwarding.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(forwarding.errors.count, "error") %> prohibited this forwarding from being saved:</h2>

      <ul>
        <% forwarding.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :especialidade %>
    <%= form.number_field :especialidade %>
  </div>

  <div class="field">
    <%= form.label :hipoteseDiagnosticoCid10 %>
    <%= form.text_field :hipoteseDiagnosticoCid10 %>
  </div>

  <div class="field">
    <%= form.label :classificacaoRisco %>
    <%= form.number_field :classificacaoRisco %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
