<p id="notice"><%= notice %></p>

<p>
  <strong>Codigocatmat:</strong>
  <%= @medicine.codigoCatmat %>
</p>

<p>
  <strong>Viaadministracao:</strong>
  <%= @medicine.viaAdministracao %>
</p>

<p>
  <strong>Dose:</strong>
  <%= @medicine.dose %>
</p>

<p>
  <strong>Doseunica:</strong>
  <%= @medicine.doseUnica %>
</p>

<p>
  <strong>Usocontinuo:</strong>
  <%= @medicine.usoContinuo %>
</p>

<p>
  <strong>Dosefrequenciatipo:</strong>
  <%= @medicine.doseFrequenciaTipo %>
</p>

<p>
  <strong>Dosefrequencia:</strong>
  <%= @medicine.doseFrequencia %>
</p>

<p>
  <strong>Dosefrequenciaquantidade:</strong>
  <%= @medicine.doseFrequenciaQuantidade %>
</p>

<p>
  <strong>Dosefrequenciaunidademedida:</strong>
  <%= @medicine.doseFrequenciaUnidadeMedida %>
</p>

<p>
  <strong>Dtiniciotratamento:</strong>
  <%= @medicine.dtInicioTratamento %>
</p>

<p>
  <strong>Duracaotratamento:</strong>
  <%= @medicine.duracaoTratamento %>
</p>

<p>
  <strong>Duracaotratamentomedida:</strong>
  <%= @medicine.duracaoTratamentoMedida %>
</p>

<p>
  <strong>Quantidadereceitada:</strong>
  <%= @medicine.quantidadeReceitada %>
</p>

<%= link_to 'Edit', edit_medicine_path(@medicine) %> |
<%= link_to 'Back', medicines_path %>
