<div class="tab">
  <div class="row">
    <div class="col">
      <div class="mb-3">
        <%= form.label :motivoSaidaCidadao %>
        <%= form.number_field :motivoSaidaCidadao, class: 'form-control btn-pill' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="mb-3">
        <%= form.label :dataObito %>
        <div class="input-group">
          <%= form.text_field :dataObito, class: 'btn-pill datepicker-here form-control digits', 'data-language': "en", 'data-bs-original-title': 'data-bs-original-title', title: 'title' %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="mb-3">
        <%= form.label :numeroDO %>
        <%= form.text_field :numeroDO, class: 'form-control btn-pill' %>
      </div>
    </div>
  </div>
</div>
