<div class="tab">
  <div class="row">
    <div class="col">
      <div class="mb-3">
        <%= form.label :motivoSaidaCidadao %>
        <%= form.number_field :motivoSaidaCidadao, class: 'form-control btn-pill' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="mb-3">
        <%= form.label :dataObito %>
        <%= form.number_field :dataObito, class: 'form-control btn-pill' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="mb-3">
        <%= form.label :numeroDO %>
        <%= form.text_field :numeroDO, class: 'form-control btn-pill' %>
      </div>
    </div>
  </div>
</div>
