<%= form_with(model: individual_registration) do |form| %>
  <% if individual_registration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(individual_registration.errors.count, "error") %> prohibited this individual_registration from being saved:</h2>

      <ul>
        <% individual_registration.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :cns_profissional %>
    <%= form.text_field :cns_profissional %>
  </div>

  <div class="field">
    <%= form.label :cns_cpf_cidadao %>
    <%= form.text_field :cns_cpf_cidadao %>
  </div>

  <div class="field">
    <%= form.label :cns_cpf_responsavel_familiar %>
    <%= form.text_field :cns_cpf_responsavel_familiar %>
  </div>

  <div class="field">
    <%= form.label :nome_completo %>
    <%= form.text_field :nome_completo %>
  </div>

  <div class="field">
    <%= form.label :data_nascimento %>
    <%= form.date_select :data_nascimento %>
  </div>

  <div class="field">
    <b>SEXO:</b><br />
    <%= form.radio_button :sexo, 'Masculino' %> Masculino<br />
    <%= form.radio_button :sexo, 'Feminino' %> Feminino<br />
  </div>

  <div class="field">
    <b>Raça/Cor</b><br />
    <%= form.radio_button :raca_cor, 'Branca' %> Branca<br />
    <%= form.radio_button :raca_cor, 'Preta' %> Preta<br />
    <%= form.radio_button :raca_cor, 'Parda' %> Parda<br />
    <%= form.radio_button :raca_cor, 'Amarela' %> Amarela<br />
    <%= form.radio_button :raca_cor, 'Indigena' %> Indigena<br />
  </div>

  <div class="field">
    <%= form.label :etnia %>
    <%= form.text_field :etnia %>
  </div>

  <div class="field">
    <%= form.label :pis_pasep %>
    <%= form.text_field :pis_pasep %>
  </div>

  <div class="field">
    <%= form.label :nome_completo_mae %>
    <%= form.text_field :nome_completo_mae %>
  </div>

  <div class="field">
    <%= form.label :nome_completo_pai %>
    <%= form.text_field :nome_completo_pai %>
  </div>

  <div class="field">
    <b>Nacionalidade</b><br />
    <%= form.radio_button :nacionalidade, 'Brasileira' %> Brasileira<br />
    <%= form.radio_button :nacionalidade, 'Naturalizado' %> Naturalizado<br />
    <%= form.radio_button :nacionalidade, 'Estrangeiro' %> Estrangeiro<br />
  </div>

  <div class="field">
    <%= form.label :pais_nascimento %>
    <%= form.date_select :pais_nascimento %>
  </div>

  <div class="field">
    <%= form.label :data_naturalizacao %>
    <%= form.text_field :data_naturalizacao %>
  </div>

  <div class="field">
    <%= form.label :municipio_uf_nascimento %>
    <%= form.text_field :municipio_uf_nascimento %>
  </div>

  <div class="field">
    <%= form.label :telefone_celular %>
    <%= form.text_field :telefone_celular %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <b>Relação de Parentesco com o Responsável Familiar</b><br />
    <%= form.radio_button :relacao_parentesco_responsavel_familiar, 'Cônjuge/Companheiro' %> Cônjuge/Companheiro<br />
    <%= form.radio_button :relacao_parentesco_responsavel_familiar, 'Filho(a)' %> Filho(a)<br />
    <%= form.radio_button :relacao_parentesco_responsavel_familiar, 'Enteado(a)' %> Enteado(a)<br />
    <%= form.radio_button :relacao_parentesco_responsavel_familiar, 'Neto(a)/Bisneto(a)' %> Neto(a)/Bisneto(a)<br />
    <%= form.radio_button :relacao_parentesco_responsavel_familiar, 'Pai/Mãe' %> Pai/Mãe<br />
    <%= form.radio_button :relacao_parentesco_responsavel_familiar, 'Sogro(a)' %> Sogro(a)<br />
    <%= form.radio_button :relacao_parentesco_responsavel_familiar, 'Irmão/Irmã' %> Irmão/Irmã<br />
    <%= form.radio_button :relacao_parentesco_responsavel_familiar, 'Genro/Nora' %> Genro/Nora<br />
    <%= form.radio_button :relacao_parentesco_responsavel_familiar, 'Outro parente' %> Outro parente<br />
    <%= form.radio_button :relacao_parentesco_responsavel_familiar, 'Não parente' %> Não parente<br />
  </div>

  <div class="field">
    <b>Qual é o curso mais elevado que frequenta ou frequentou?</b><br />
    <%= form.radio_button :curso_elevado_frequenta_frequentou, 'Creche' %> Creche<br />
    <%= form.radio_button :curso_elevado_frequenta_frequentou, 'Pré-escola (exceto CA)' %> Pré-escola (exceto CA)<br />
    <%= form.radio_button :curso_elevado_frequenta_frequentou, 'Classe de Alfabetização - CA' %> Classe de Alfabetização - CA<br />
    <%= form.radio_button :curso_elevado_frequenta_frequentou, 'Ensino Fundamental 1ª a 4ª séries' %> Ensino Fundamental 1ª a 4ª séries<br />
    <%= form.radio_button :curso_elevado_frequenta_frequentou, 'Ensino Fundamental 5ª a 8ª séries' %> Ensino Fundamental 5ª a 8ª séries<br />
    <%= form.radio_button :curso_elevado_frequenta_frequentou, 'Ensino Fundamental Completo' %> Ensino Fundamental Completo<br />
    <%= form.radio_button :curso_elevado_frequenta_frequentou, 'Ensino Fundamental Especial' %> Ensino Fundamental Especial<br />
    <%= form.radio_button :curso_elevado_frequenta_frequentou, 'Ensino Fundamental EJA - séries iniciais' %> (Supletivo 1ª a 4ª)<br />
    <%= form.radio_button :curso_elevado_frequenta_frequentou, 'Ensino Fundamental EJA - séries finais (Supletivo 5ª a 8ª)' %> Ensino Fundamental EJA - séries finais (Supletivo 5ª a 8ª)  <br />
    <%= form.radio_button :curso_elevado_frequenta_frequentou, 'Ensino Médio, Médio 2º Ciclo (Científico, Técnico etc.)' %> Ensino Médio, Médio 2º Ciclo (Científico, Técnico etc.)<br />
    <%= form.radio_button :curso_elevado_frequenta_frequentou, 'Ensino Médio Especial' %> (Supletivo 1ª a 4ª)<br />
    <%= form.radio_button :curso_elevado_frequenta_frequentou, 'Ensino Médio EJA (Supletivo)' %> Ensino Médio EJA (Supletivo) <br />
    <%= form.radio_button :curso_elevado_frequenta_frequentou, 'Superior, Aperfeiçoamento, Especialização, Mestrado, Doutorado' %> Superior, Aperfeiçoamento, Especialização, Mestrado, Doutorado<br />
    <%= form.radio_button :curso_elevado_frequenta_frequentou, 'Alfabetização para Adultos (Mobral etc.)' %> Alfabetização para Adultos (Mobral etc.)<br />
    <%= form.radio_button :curso_elevado_frequenta_frequentou, 'Nenhum' %> Nenhum <br />
  </div>

  <div class="field">
    <b>Situação no Mercado de Trabalho</b><br />
    <%= form.radio_button :situacao_mercado_trabalho, 'Empregador' %> Empregador<br />
    <%= form.radio_button :situacao_mercado_trabalho, 'Assalariado com carteira de trabalho' %> Assalariado com carteira de trabalho<br />
    <%= form.radio_button :situacao_mercado_trabalho, 'Assalariado sem carteira de trabalho' %> Assalariado sem carteira de trabalho<br />
    <%= form.radio_button :situacao_mercado_trabalho, 'Autônomo com previdência social' %> Autônomo com previdência social<br />
    <%= form.radio_button :situacao_mercado_trabalho, 'Autônomo sem previdência social' %> Autônomo sem previdência social<br />
    <%= form.radio_button :situacao_mercado_trabalho, 'Aposentado/Pensionista' %> Aposentado/Pensionista<br />
    <%= form.radio_button :situacao_mercado_trabalho, 'Desempregado' %> Desempregado<br />
    <%= form.radio_button :situacao_mercado_trabalho, 'Não trabalha' %> Não trabalha<br />
    <%= form.radio_button :situacao_mercado_trabalho, 'Servidor público/militar' %> Servidor público/militar<br />
    <%= form.radio_button :situacao_mercado_trabalho, 'Outro' %> Outro<br />
  </div>

  <div class="field">
    <b>FREQUENTA CUIDADOR TRADICIONAL?</b><br />
    <%= form.radio_button :frequenta_cuidador_tradicional, 'Sim' %> Sim<br />
    <%= form.radio_button :frequenta_cuidador_tradicional, 'Não' %> Não<br />
  </div>

  <div class="field">
    <b>PARTICIPA DE ALGUM GRUPO COMUNITÁRIO?</b><br />
    <%= form.radio_button :participa_grupo_comunitario, 'Sim' %> Sim<br />
    <%= form.radio_button :participa_grupo_comunitario, 'Não' %> Não<br />
  </div>

  <div class="field">
    <b>POSSUI PLANO DE SAÚDE PRIVADO?</b><br />
    <%= form.radio_button :possui_plano_saude_privado, 'Sim' %> Sim<br />
    <%= form.radio_button :possui_plano_saude_privado, 'Não' %> Não<br />
  </div>

  <div class="field">
    <b>DESEJA INFORMAR ORIENTAÇÃO SEXUAL?</b><br />
    <%= form.radio_button :orientacao_sexual, 'Não' %> Não<br />
    <%= form.radio_button :orientacao_sexual, 'Heterossexual' %> Heterossexual<br />
    <%= form.radio_button :orientacao_sexual, 'Bissexual' %> Bissexual<br />
    <%= form.radio_button :orientacao_sexual, 'Homossexual (gay / lésbica)' %> Homossexual (gay / lésbica)<br />
    <%= form.radio_button :orientacao_sexual, 'Outra' %> Outra<br />
  </div>

  <div class="field">
    <b>DESEJA INFORMAR IDENTIDADE DE GÊNERO?</b><br />
    <%= form.radio_button :identidade_genero, 'Não' %> Não<br />
    <%= form.radio_button :identidade_genero, 'Homem transexual' %> Homem transexual<br />
    <%= form.radio_button :identidade_genero, 'Travesti' %> Travesti<br />
    <%= form.radio_button :identidade_genero, 'Mulher transexual' %> Mulher transexual<br />
    <%= form.radio_button :identidade_genero, 'Outro' %> Outro<br />
  </div>

  <div class="field">
    <b>SAÍDA DO CIDADÃO DO CADASTRO</b><br />
    <%= form.radio_button :saida_cidadao_cadastro, 'Mudança de território' %> Mudança de território<br />
    <%= form.radio_button :saida_cidadao_cadastro, 'Óbito' %> Óbito<br />
  </div>

  <div class="field">
    <b>ESTÁ GESTANTE?</b><br />
    <%= form.radio_button :gestante, 'Sim' %> Sim<br />
    <%= form.radio_button :gestante, 'Não' %> Não<br />
  </div>

  <div class="field">
    <b>POSSUI PLANO DE SAÚDE PRIVADO?</b><br />
    <%= form.radio_button :possui_plano_saude_privado, 'Sim' %> Sim<br />

    <%= form.label :possui_plano_saude_privado %>
    <%= form.text_field :possui_plano_saude_privado %>
  </div>

  <div class="field">
    <b>SOBRE SEU PESO, VOCÊ SE CONSIDERA?</b><br />
    <%= form.radio_button :peso, 'Abaixo do Peso' %> Abaixo do Peso<br />
    <%= form.radio_button :peso, 'Peso Adequado' %> Peso Adequado<br />
    <%= form.radio_button :peso, 'Acima do Peso' %> Acima do Peso<br />
  </div>

  <div class="field">
    <b>ESTÁ FUMANTE?</b><br />
    <%= form.radio_button :fumante, 'Sim' %> Sim<br />
    <%= form.radio_button :fumante, 'Não' %> Não<br />
  </div>

  <div class="field">
    <b>FAZ USO DE ÁLCOOL?</b><br />
    <%= form.radio_button :uso_alcool, 'Sim' %> Sim<br />
    <%= form.radio_button :uso_alcool, 'Não' %> Não<br />
  </div>

  <div class="field">
    <b>FAZ USO DE OUTRAS DROGAS?</b><br />
    <%= form.radio_button :uso_outras_drogas, 'Sim' %> Sim<br />
    <%= form.radio_button :uso_outras_drogas, 'Não' %> Não<br />
  </div>

  <div class="field">
    <b>TEM AUTISMO LEVE</b><br />
    <%= form.radio_button :autismo_leve, 'Sim' %> Sim<br />
    <%= form.radio_button :autismo_leve, 'Não' %> Não<br />
  </div>

  <div class="field">
    <b>TEM HIPERTENSÃO ARTERIAL?</b><br />
    <%= form.radio_button :hipertensao_arterial, 'Sim' %> Sim<br />
    <%= form.radio_button :hipertensao_arterial, 'Não' %> Não<br />
  </div>

  <div class="field">
    <b>TEM DIABETES?</b><br />
    <%= form.radio_button :diabetes, 'Sim' %> Sim<br />
    <%= form.radio_button :diabetes, 'Não' %> Não<br />
  </div>

  <div class="field">
    <b>TEVE AVC/DERRAME?</b><br />
    <%= form.radio_button :avc_derrame, 'Sim' %> Sim<br />
    <%= form.radio_button :avc_derrame, 'Não' %> Não<br />
  </div>

  <div class="field">
    <b>TEVE INFARTO?</b><br />
    <%= form.radio_button :infarto, 'Sim' %> Sim<br />
    <%= form.radio_button :infarto, 'Não' %> Não<br />
  </div>

  <div class="field">
    <b>ESTÁ COM HANSENÍASE?</b><br />
    <%= form.radio_button :hanseniase, 'Sim' %> Sim<br />
    <%= form.radio_button :hanseniase, 'Não' %> Não<br />
  </div>

  <div class="field">
    <b>ESTÁ COM TUBERCULOSE?</b><br />
    <%= form.radio_button :tuberculose, 'Sim' %> Sim<br />
    <%= form.radio_button :tuberculose, 'Não' %> Não<br />
  </div>

  <div class="field">
    <b>TEM OU TEVE CÂNCER?</b><br />
    <%= form.radio_button :tem_ou_teve_cancer, 'Sim' %> Sim<br />
    <%= form.radio_button :tem_ou_teve_cancer, 'Não' %> Não<br />
  </div>

  <div class="field">
    <b>TTEVE ALGUMA INTERNAÇÃO NOS ÚLTIMOS 12 MESES?</b><br />
    <%= form.radio_button :alguma_internacao_ultimos_12_meses, 'Não' %> Não<br />
    <%= form.label :alguma_internacao_ultimos_12_meses %>
    <%= form.text_field :alguma_internacao_ultimos_12_meses %>
  </div>

  <div class="field">
    <b>TEVE DIAGNÓSTICO DE ALGUM PROBLEMA DE SAÚDE MENTAL POR PROFISSIONAL DE SAÚDE?</b><br />
    <%= form.radio_button :diagnostico_algum_problema_saude_mental_profissional_saude, 'Sim' %> Sim<br />
    <%= form.radio_button :diagnostico_algum_problema_saude_mental_profissional_saude, 'Não' %> Não<br />
  </div>

  <div class="field">
    <b>ESTÁ ACAMADO?</b><br />
    <%= form.radio_button :acamado, 'Sim' %> Sim<br />
    <%= form.radio_button :acamado, 'Não' %> Não<br />
  </div>

  <div class="field">
    <b>ESTÁ DOMICILIADO?</b><br />
    <%= form.radio_button :domiciliado, 'Sim' %> Sim<br />
    <%= form.radio_button :domiciliado, 'Não' %> Não<br />
  </div>

  <div class="field">
    <b>USA OUTRAS PRÁTICAS INTEGRATIVAS E COMPLEMENTARES?</b><br />
    <%= form.radio_button :outras_praticas_integrativas_complementares, 'Sim' %> Sim<br />
    <%= form.radio_button :outras_praticas_integrativas_complementares, 'Não' %> Não<br />
  </div>

  <div class="field">
    <b>ESTÁ EM SITUAÇÃO DE RUA?</b><br />
    <%= form.radio_button :situacao_rua, 'Não' %> Não<br />
    <%= form.radio_button :situacao_rua, '< 6 meses' %> < 6 meses<br />
    <%= form.radio_button :situacao_rua, '6 a 12 meses' %> 6 a 12 meses<br />
    <%= form.radio_button :situacao_rua, '1 a 5 anos' %> 1 a 5 anos<br />
    <%= form.radio_button :situacao_rua, '> 5 anos' %> > 5 anos<br />
  </div>

  <div class="field">
    <b>RECEBE ALGUM BENEFÍCIO?</b><br />
    <%= form.radio_button :recebe_algum_beneficio, 'Sim' %> Sim<br />
    <%= form.radio_button :recebe_algum_beneficio, 'Não' %> Não<br />
  </div>

  <div class="field">
    <b>POSSUI REFERÊNCIA FAMILIAR?</b><br />
    <%= form.radio_button :possui_referencia_familiar, 'Não' %> Não<br />
    <%= form.radio_button :possui_referencia_familiar, '1 vez' %> 1 vez<br />
    <%= form.radio_button :possui_referencia_familiar, '2 ou 3 vezes' %> 2 ou 3 vezes<br />
    <%= form.radio_button :possui_referencia_familiar, 'mais de 3 vezes' %> mais de 3 vezes<br />
  </div>

  <div class="field">
    <b>DOR NAS PERNAS?</b><br />
    <%= form.radio_button :dor_pernas, 'Sim' %> Sim<br />
    <%= form.radio_button :dor_pernas, 'Não' %> Não<br />
  </div>

  <div class="field">
    <b>Hemoglobia Glicada</b><br />
    <%= form.label :hem_glicada %>
    <%= form.number_field :hem_glicada %>
  </div>

  <div class="field">
    <b>Procurou dentista no semestre?</b><br />
    <%= form.radio_button :dentista_semestre, 'Sim' %> Sim<br />
    <%= form.radio_button :dentista_semestre, 'Não' %> Não<br />
  </div>

  <div class="field">
    <b>Vacinou H1N1?</b><br />
    <%= form.radio_button :vacinou_h1n1, 'Sim' %> Sim<br />
    <%= form.radio_button :vacinou_h1n1, 'Não' %> Não<br />
  </div>

  <div class="field">
    <b>Vacinou COVID?</b><br />
    <%= form.radio_button :vacinou_covid, 'Sim' %> Sim<br />
    <%= form.radio_button :vacinou_covid, 'Não' %> Não<br />
  </div>

  <div class="field">
    <b>COMO CLASSIFICA SEU AUTO CUIDADO?</b><br />
    <%= form.label :classica_auto_cuidado %>
    <%= form.text_field :classica_auto_cuidado %>
  </div>

  <div class="field">
    <b>ENTENDE A IMPORTÂNCIA DA ALIMENTAÇÃO NO TRATAMENTO DA DIABETES?</b><br />
    <%= form.radio_button :entende_importancia_alimentacao_diabetes, 'Sim' %> Sim<br />
    <%= form.radio_button :entende_importancia_alimentacao_diabetes, 'Não' %> Não<br />
  </div>

  <div class="field">
    <b>CONSEGUE EXECUTAR A ALIMENTAÇÃO SAUDÁVEL?</b><br />
    <%= form.radio_button :consegue_alimentacao_saudavel, 'Sim' %> Sim<br />
    <%= form.radio_button :consegue_alimentacao_saudavel, 'Não' %> Não<br />
  </div>

  <div class="field">
    <b>JÁ CONSULTOU COM PSICOLOGO?</b><br />
    <%= form.radio_button :consultou_psicologo, 'Sim' %> Sim<br />
    <%= form.radio_button :consultou_psicologo, 'Não' %> Não<br />
  </div>

  <div class="field">
    <b>PESO</b><br />
    <%= form.label :altura %>
    <%= form.number_field :altura %>
  </div>

  <div class="field">
    <b>PASSOU EM CONSULTA CARDIOLOGISTA NO ANO?</b><br />
    <%= form.radio_button :consulta_cardiologista_ano, 'Sim' %> Sim<br />
    <%= form.radio_button :consulta_cardiologista_ano, 'Não' %> Não<br />
  </div>

  <div class="field">
    <b>IMC</b><br />
    <%= form.label :imc %>
    <%= form.number_field :imc %>
  </div>

  <div class="field">
    <b>PEADESÃO DO MEDICAMENTO?</b><br />
    <%= form.label :peadesao_medicamento %>
    <%= form.text_field :peadesao_medicamento %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
