<%= form_with(model: individual_registration) do |form| %>
  <% if individual_registration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(individual_registration.errors.count, "error") %> prohibited this individual_registration from being saved:</h2>

      <ul>
        <% individual_registration.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

   <div class="field">
    <%= form.label :statusTermoRecusaCadastroIndividualAtencaoBasica %>
    <%= form.check_box :statusTermoRecusaCadastroIndividualAtencaoBasica %>
  </div>

  <div class="field">
    <%= form.label :statusTemDoencaRespiratoria %>
    <%= form.check_box :statusTemDoencaRespiratoria %>
  </div>

  <div class="field">
    <%= form.label :statusTemTeveDoencasRins %>
    <%= form.check_box :statusTemTeveDoencasRins %>
  </div>

  <div class="field">
    <%= form.label :statusTeveDoencaCardiaca %>
    <%= form.check_box :statusTeveDoencaCardiaca %>
  </div>

  <div class="field">
    <%= form.label :statusTeveInternadoEm12Meses %>
    <%= form.check_box :statusTeveInternadoEm12Meses %>
  </div>

  <div class="field">
    <%= form.label :statusUsaPlantaMedicinais %>
    <%= form.check_box :statusUsaPlantaMedicinais %>
  </div>

  <div class="field">
    <%= form.label :grauParentescoFamiliarFrequentado %>
    <%= form.text_field :grauParentescoFamiliarFrequentado %>
  </div>

  <div class="field">
    <%= form.label :higienePessoalSituacaoRua %>
    <%= form.text_field :higienePessoalSituacaoRua %>
  </div>

  <div class="field">
    <%= form.label :origemAlimentoSituacaoRua %>
    <%= form.text_field :origemAlimentoSituacaoRua %>
  </div>

  <div class="field">
    <%= form.label :outraInstituicaoQueAcompanha %>
    <%= form.text_field :outraInstituicaoQueAcompanha %>
  </div>

  <div class="field">
    <%= form.label :quantidadeAlimentacoesAoDiaSituacaoRua %>
    <%= form.number_field :quantidadeAlimentacoesAoDiaSituacaoRua %>
  </div>

  <div class="field">
    <%= form.label :statusAcompanhadoPorOutraInstituicao %>
    <%= form.check_box :statusAcompanhadoPorOutraInstituicao %>
  </div>

  <div class="field">
    <%= form.label :statusTemAcessoHigienePessoalSituacaoRua %>
    <%= form.check_box :statusTemAcessoHigienePessoalSituacaoRua %>
  </div>

  <div class="field">
    <%= form.label :statusVisitaFamiliarFrequentemente %>
    <%= form.check_box :statusVisitaFamiliarFrequentemente %>
  </div>

  <div class="field">
    <%= form.label :tempoSituacaoRua %>
    <%= form.number_field :tempoSituacaoRua %>
  </div>

  <div class="field">
    <%= form.label :fichaAtualizada %>
    <%= form.check_box :fichaAtualizada %>
  </div>

  <div class="field">
    <%= form.label :codigoIbgeMunicipioNascimento %>
    <%= form.text_field :codigoIbgeMunicipioNascimento %>
  </div>

  <div class="field">
    <%= form.label :desconheceNomeMae %>
    <%= form.check_box :desconheceNomeMae %>
  </div>

  <div class="field">
    <%= form.label :statusEhResponsavel %>
    <%= form.check_box :statusEhResponsavel %>
  </div>

  <div class="field">
    <%= form.label :nomePaiCidadao %>
    <%= form.text_field :nomePaiCidadao %>
  </div>

  <div class="field">
    <%= form.label :desconheceNomePai %>
    <%= form.check_box :desconheceNomePai %>
  </div>

  <div class="field">
    <%= form.label :microArea %>
    <%= form.text_field :microArea %>
  </div>

  <div class="field">
    <%= form.label :stForaArea %>
    <%= form.check_box :stForaArea %>
  </div>

  <div class="field">
    <%= form.label :deficienciasCidadao %>
    <%= form.text_field :deficienciasCidadao %>
  </div>

  <div class="field">
    <%= form.label :grauInstrucaoCidadao %>
    <%= form.number_field :grauInstrucaoCidadao %>
  </div>

  <div class="field">
    <%= form.label :ocupacaoCodigoCbo2002 %>
    <%= form.text_field :ocupacaoCodigoCbo2002 %>
  </div>

  <div class="field">
    <%= form.label :statusFrequentaEscola %>
    <%= form.check_box :statusFrequentaEscola %>
  </div>

  <div class="field">
    <%= form.label :statusMembroPovoComunidadeTradicional %>
    <%= form.check_box :statusMembroPovoComunidadeTradicional %>
  </div>

  <div class="field">
    <%= form.label :statusDesejaInformarIdentidadeGenero %>
    <%= form.check_box :statusDesejaInformarIdentidadeGenero %>
  </div>

  <div class="field">
    <%= form.label :coPovoComunidadeTradicional %>
    <%= form.number_field :coPovoComunidadeTradicional %>
  </div>

  <div class="field">
    <%= form.label :statusTermoRecusaCadastroIndividualAtencaoBasica %>
    <%= form.check_box :statusTermoRecusaCadastroIndividualAtencaoBasica %>
  </div>

  <div class="field">
    <%= form.label :uuid %>
    <%= form.text_field :uuid %>
  </div>

  <div class="field">
    <%= form.label :uuidFichaOriginadora %>
    <%= form.text_field :uuidFichaOriginadora %>
  </div>

  <div class="field">
    <%= form.label :profissionalCNS %>
    <%= form.text_field :profissionalCNS %>
  </div>

  <div class="field">
    <%= form.label :cboCodigo_2002 %>
    <%= form.text_field :cboCodigo_2002 %>
  </div>

  <div class="field">
    <%= form.label :cnes %>
    <%= form.text_field :cnes %>
  </div>

  <div class="field">
    <%= form.label :ine %>
    <%= form.text_field :ine %>
  </div>

  <div class="field">
    <%= form.label :dataAtendimento %>
    <%= form.datetime_select :dataAtendimento %>
  </div>

  <div class="field">
    <%= form.label :codigoIbgeMunicipio %>
    <%= form.text_field :codigoIbgeMunicipio %>
  </div>

  <div class="field">
    <%= form.label :uuidDadoSerializado %>
    <%= form.text_field :uuidDadoSerializado %>
  </div>

  <div class="field">
    <%= form.label :tipoDadoSerializado %>
    <%= form.number_field :tipoDadoSerializado %>
  </div>

  <div class="field">
    <%= form.label :codIbge %>
    <%= form.text_field :codIbge %>
  </div>

  <div class="field">
    <%= form.label :cnesDadoSerializado %>
    <%= form.text_field :cnesDadoSerializado %>
  </div>

  <div class="field">
    <%= form.label :ineDadoSerializado %>
    <%= form.text_field :ineDadoSerializado %>
  </div>

  <div class="field">
    <%= form.label :numLote %>
    <%= form.number_field :numLote %>
  </div>

  <div class="field">
    <%= form.label :fichaAtualizada %>
    <%= form.check_box :fichaAtualizada %>
  </div>

  <div class="field">
    <%= form.label :statusTermoRecusaCadastroIndividualAtencaoBasica %>
    <%= form.check_box :statusTermoRecusaCadastroIndividualAtencaoBasica %>
  </div>

  <div class="field">
    <%= form.label :tpCdsOrigem %>
    <%= form.number_field :tpCdsOrigem %>
  </div>

  <div class="field">
    <%= form.label :descricaoCausaInternacaoEm12Meses %>
    <%= form.text_field :descricaoCausaInternacaoEm12Meses %>
  </div>

  <div class="field">
    <%= form.label :descricaoOutraCondicao1 %>
    <%= form.text_field :descricaoOutraCondicao1 %>
  </div>

  <div class="field">
    <%= form.label :descricaoOutraCondicao2 %>
    <%= form.text_field :descricaoOutraCondicao2 %>
  </div>

  <div class="field">
    <%= form.label :descricaoPlantasMedicinaisUsadas %>
    <%= form.text_field :descricaoPlantasMedicinaisUsadas %>
  </div>

  <div class="field">
    <%= form.label :doencaCardiaca %>
    <%= form.number_field :doencaCardiaca %>
  </div>

  <div class="field">
    <%= form.label :doencaRespiratoria %>
    <%= form.number_field :doencaRespiratoria %>
  </div>

  <div class="field">
    <%= form.label :doencaRins %>
    <%= form.number_field :doencaRins %>
  </div>

  <div class="field">
    <%= form.label :maternidadeDeReferencia %>
    <%= form.text_field :maternidadeDeReferencia %>
  </div>

  <div class="field">
    <%= form.label :situacaoPeso %>
    <%= form.number_field :situacaoPeso %>
  </div>

  <div class="field">
    <%= form.label :statusEhDependenteAlcool %>
    <%= form.check_box :statusEhDependenteAlcool %>
  </div>

  <div class="field">
    <%= form.label :statusEhDependenteOutrasDrogas %>
    <%= form.check_box :statusEhDependenteOutrasDrogas %>
  </div>

  <div class="field">
    <%= form.label :statusEhFumante %>
    <%= form.check_box :statusEhFumante %>
  </div>

  <div class="field">
    <%= form.label :statusEhGestante %>
    <%= form.check_box :statusEhGestante %>
  </div>

  <div class="field">
    <%= form.label :statusEstaAcamado %>
    <%= form.check_box :statusEstaAcamado %>
  </div>

  <div class="field">
    <%= form.label :statusEstaDomiciliado %>
    <%= form.check_box :statusEstaDomiciliado %>
  </div>

  <div class="field">
    <%= form.label :statusTemDiabetes %>
    <%= form.check_box :statusTemDiabetes %>
  </div>

  <div class="field">
    <%= form.label :statusTemDoencaRespiratoria %>
    <%= form.check_box :statusTemDoencaRespiratoria %>
  </div>

  <div class="field">
    <%= form.label :statusTemHanseniase %>
    <%= form.check_box :statusTemHanseniase %>
  </div>

  <div class="field">
    <%= form.label :statusTemHipertensaoArterial %>
    <%= form.check_box :statusTemHipertensaoArterial %>
  </div>

  <div class="field">
    <%= form.label :statusTemTeveCancer %>
    <%= form.check_box :statusTemTeveCancer %>
  </div>

  <div class="field">
    <%= form.label :statusTemTeveDoencasRins %>
    <%= form.check_box :statusTemTeveDoencasRins %>
  </div>

  <div class="field">
    <%= form.label :statusTemTuberculose %>
    <%= form.check_box :statusTemTuberculose %>
  </div>

  <div class="field">
    <%= form.label :statusTeveAvcDerrame %>
    <%= form.check_box :statusTeveAvcDerrame %>
  </div>

  <div class="field">
    <%= form.label :statusTeveDoencaCardiaca %>
    <%= form.check_box :statusTeveDoencaCardiaca %>
  </div>

  <div class="field">
    <%= form.label :statusTeveInfarto %>
    <%= form.check_box :statusTeveInfarto %>
  </div>

  <div class="field">
    <%= form.label :statusTeveInternadoEm12Meses %>
    <%= form.check_box :statusTeveInternadoEm12Meses %>
  </div>

  <div class="field">
    <%= form.label :statusUsaPlantaMedicinais %>
    <%= form.check_box :statusUsaPlantaMedicinais %>
  </div>

  <div class="field">
    <%= form.label :statusDiagnosticoMental %>
    <%= form.check_box :statusDiagnosticoMental %>
  </div>

  <div class="field">
    <%= form.label :grauParentescoFamiliarFrequentado %>
    <%= form.text_field :grauParentescoFamiliarFrequentado %>
  </div>

  <div class="field">
    <%= form.label :higienePessoalSituacaoRua %>
    <%= form.number_field :higienePessoalSituacaoRua %>
  </div>

  <div class="field">
    <%= form.label :higienePessoalSituacaoRua %>
    <%= form.number_field :higienePessoalSituacaoRua %>
  </div>

  <div class="field">
    <%= form.label :origemAlimentoSituacaoRua %>
    <%= form.number_field :origemAlimentoSituacaoRua %>
  </div>

  <div class="field">
    <%= form.label :origemAlimentoSituacaoRua %>
    <%= form.number_field :origemAlimentoSituacaoRua %>
  </div>

  <div class="field">
    <%= form.label :outraInstituicaoQueAcompanha %>
    <%= form.text_field :outraInstituicaoQueAcompanha %>
  </div>

  <div class="field">
    <%= form.label :quantidadeAlimentacoesAoDiaSituacaoRua %>
    <%= form.number_field :quantidadeAlimentacoesAoDiaSituacaoRua %>
  </div>

  <div class="field">
    <%= form.label :statusAcompanhadoPorOutraInstituicao %>
    <%= form.check_box :statusAcompanhadoPorOutraInstituicao %>
  </div>

  <div class="field">
    <%= form.label :statusPossuiReferenciaFamiliar %>
    <%= form.check_box :statusPossuiReferenciaFamiliar %>
  </div>

  <div class="field">
    <%= form.label :statusRecebeBeneficio %>
    <%= form.check_box :statusRecebeBeneficio %>
  </div>

  <div class="field">
    <%= form.label :statusSituacaoRua %>
    <%= form.check_box :statusSituacaoRua %>
  </div>

  <div class="field">
    <%= form.label :statusTemAcessoHigienePessoalSituacaoRua %>
    <%= form.check_box :statusTemAcessoHigienePessoalSituacaoRua %>
  </div>

  <div class="field">
    <%= form.label :statusVisitaFamiliarFrequentemente %>
    <%= form.check_box :statusVisitaFamiliarFrequentemente %>
  </div>

  <div class="field">
    <%= form.label :tempoSituacaoRua %>
    <%= form.number_field :tempoSituacaoRua %>
  </div>

  <div class="field">
    <%= form.label :codigoIbgeMunicipioNascimento %>
    <%= form.text_field :codigoIbgeMunicipioNascimento %>
  </div>

  <div class="field">
    <%= form.label :dataNascimentoCidadao %>
    <%= form.text_field :dataNascimentoCidadao %>
  </div>

  <div class="field">
    <%= form.label :desconheceNomeMae %>
    <%= form.check_box :desconheceNomeMae %>
  </div>

  <div class="field">
    <%= form.label :emailCidadao %>
    <%= form.text_field :emailCidadao %>
  </div>

  <div class="field">
    <%= form.label :nacionalidadeCidadao %>
    <%= form.number_field :nacionalidadeCidadao %>
  </div>

  <div class="field">
    <%= form.label :nomeCidadao %>
    <%= form.text_field :nomeCidadao %>
  </div>

  <div class="field">
    <%= form.label :nomeMaeCidadao %>
    <%= form.text_field :nomeMaeCidadao %>
  </div>

  <div class="field">
    <%= form.label :cpfCidadao %>
    <%= form.text_field :cpfCidadao %>
  </div>

  <div class="field">
    <%= form.label :telefoneCelular %>
    <%= form.text_field :telefoneCelular %>
  </div>

  <div class="field">
    <%= form.label :paisNascimento %>
    <%= form.text_field :paisNascimento %>
  </div>

  <div class="field">
    <%= form.label :racaCorCidadao %>
    <%= form.number_field :racaCorCidadao %>
  </div>

  <div class="field">
    <%= form.label :sexoCidadao %>
    <%= form.number_field :sexoCidadao %>
  </div>

  <div class="field">
    <%= form.label :statusEhResponsavel %>
    <%= form.check_box :statusEhResponsavel %>
  </div>

  <div class="field">
    <%= form.label :etnia %>
    <%= form.number_field :etnia %>
  </div>

  <div class="field">
    <%= form.label :nomePaiCidadao %>
    <%= form.text_field :nomePaiCidadao %>
  </div>

  <div class="field">
    <%= form.label :desconheceNomePai %>
    <%= form.check_box :desconheceNomePai %>
  </div>

  <div class="field">
    <%= form.label :microArea %>
    <%= form.text_field :microArea %>
  </div>

  <div class="field">
    <%= form.label :stForaArea %>
    <%= form.check_box :stForaArea %>
  </div>

  <div class="field">
    <%= form.label :deficienciasCidadao %>
    <%= form.number_field :deficienciasCidadao %>
  </div>

  <div class="field">
    <%= form.label :deficienciasCidadao %>
    <%= form.number_field :deficienciasCidadao %>
  </div>

  <div class="field">
    <%= form.label :ocupacaoCodigoCbo2002 %>
    <%= form.text_field :ocupacaoCodigoCbo2002 %>
  </div>

  <div class="field">
    <%= form.label :orientacaoSexualCidadao %>
    <%= form.number_field :orientacaoSexualCidadao %>
  </div>

  <div class="field">
    <%= form.label :situacaoMercadoTrabalhoCidadao %>
    <%= form.number_field :situacaoMercadoTrabalhoCidadao %>
  </div>

  <div class="field">
    <%= form.label :statusDesejaInformarOrientacaoSexual %>
    <%= form.check_box :statusDesejaInformarOrientacaoSexual %>
  </div>

  <div class="field">
    <%= form.label :statusFrequentaBenzedeira %>
    <%= form.check_box :statusFrequentaBenzedeira %>
  </div>

  <div class="field">
    <%= form.label :statusFrequentaEscola %>
    <%= form.check_box :statusFrequentaEscola %>
  </div>

  <div class="field">
    <%= form.label :statusMembroPovoComunidadeTradicional %>
    <%= form.check_box :statusMembroPovoComunidadeTradicional %>
  </div>

  <div class="field">
    <%= form.label :statusParticipaGrupoComunitario %>
    <%= form.check_box :statusParticipaGrupoComunitario %>
  </div>

  <div class="field">
    <%= form.label :statusPossuiPlanoSaudePrivado %>
    <%= form.check_box :statusPossuiPlanoSaudePrivado %>
  </div>

  <div class="field">
    <%= form.label :statusTemAlgumaDeficiencia %>
    <%= form.check_box :statusTemAlgumaDeficiencia %>
  </div>

  <div class="field">
    <%= form.label :identidadeGeneroCidadao %>
    <%= form.number_field :identidadeGeneroCidadao %>
  </div>

  <div class="field">
    <%= form.label :statusDesejaInformarIdentidadeGenero %>
    <%= form.check_box :statusDesejaInformarIdentidadeGenero %>
  </div>

  <div class="field">
    <%= form.label :coPovoComunidadeTradicional %>
    <%= form.number_field :coPovoComunidadeTradicional %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
