<h2>Questionário autorreferido de condições / situações de saúde</h2>
<div class="d-block">
  <%= form.check_box :statusEhGestante %>
  <%= form.label :statusEhGestante %>
</div>
<div class="row">
  <div class="col">
    <div class="mb-3">
      <%= form.label :maternidadeDeReferencia %>
      <%= form.text_field :maternidadeDeReferencia, class: 'form-control btn-pill' %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="mb-3">
      <%= form.label :situacaoPeso %>
      <%= form.collection_radio_buttons :situacaoPeso, @options[:situacao_peso], :second, :first do |b| %>
        <div class="d-block">
          <%= b.radio_button %>
          <%= b.label %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="d-block">
  <%= form.check_box :statusEhFumante %>
  <%= form.label :statusEhFumante %>
</div>
</div>
<div class="d-block">
  <%= form.check_box :statusEhDependenteAlcool %>
  <%= form.label :statusEhDependenteAlcool %>
</div>
<div class="d-block">
  <%= form.check_box :statusEhDependenteOutrasDrogas %>
  <%= form.label :statusEhDependenteOutrasDrogas %>
</div>
<div class="d-block">
  <%= form.check_box :statusTemHipertensaoArterial %>
  <%= form.label :statusTemHipertensaoArterial %>
</div>
<div class="d-block">
  <%= form.check_box :statusTemDiabetes %>
  <%= form.label :statusTemDiabetes %>
</div>
<div class="d-block">
  <%= form.check_box :statusTeveAvcDerrame %>
  <%= form.label :statusTeveAvcDerrame %>
</div>
<div class="d-block">
  <%= form.check_box :statusTeveInfarto %>
  <%= form.label :statusTeveInfarto %>
</div>
<div class="d-block">
  <%= form.check_box :statusTeveDoencaCardiaca %>
  <%= form.label :statusTeveDoencaCardiaca %>
</div>
<div class="row">
  <div class="col">
    <div class="mb-3">
      <%= form.label :doencaCardiaca %>
      <%= form.collection_check_boxes :doencaCardiaca, @options[:doenca_cardiaca], :second, :first do |b| %>
        <div class="d-block">
          <%= b.check_box %>
          <%= b.label %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="d-block">
  <%= form.check_box :statusTemTeveDoencasRins %>
  <%= form.label :statusTemTeveDoencasRins %>
</div>
<div class="row">
  <div class="col">
    <div class="mb-3">
      <%= form.label :doencaRins %>
      <%= form.collection_check_boxes :doencaRins, @options[:problema_rins], :second, :first do |b| %>
        <div class="d-block">
          <%= b.check_box %>
          <%= b.label %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="d-block">
  <%= form.check_box :statusTemDoencaRespiratoria %>
  <%= form.label :statusTemDoencaRespiratoria %>
</div>
<div class="row">
  <div class="col">
    <div class="mb-3">
      <%= form.label :doencaRespiratoria %>
      <%= form.collection_check_boxes :doencaRespiratoria, @options[:doenca_respiratoria], :second, :first do |b| %>
        <div class="d-block">
          <%= b.check_box %>
          <%= b.label %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="d-block">
  <%= form.check_box :statusTemHanseniase %>
  <%= form.label :statusTemHanseniase %>
</div>
<div class="d-block">
  <%= form.check_box :statusTemTuberculose %>
  <%= form.label :statusTemTuberculose %>
</div>
<div class="d-block">
  <%= form.check_box :statusTemTeveCancer %>
  <%= form.label :statusTemTeveCancer %>
</div>
<div class="d-block">
  <%= form.check_box :statusTeveInternadoEm12Meses %>
  <%= form.label :statusTeveInternadoEm12Meses %>
</div>
<div class="row">
  <div class="col">
    <div class="mb-3">
      <%= form.label :descricaoCausaInternacaoEm12Meses %>
      <%= form.text_field :descricaoCausaInternacaoEm12Meses, class: 'form-control btn-pill' %>
    </div>
  </div>
</div>
<div class="d-block">
  <%= form.check_box :statusDiagnosticoMental %>
  <%= form.label :statusDiagnosticoMental %>
</div>
<div class="d-block">
  <%= form.check_box :statusEstaAcamado %>
  <%= form.label :statusEstaAcamado %>
</div>
<div class="d-block">
  <%= form.check_box :statusEstaDomiciliado %>
  <%= form.label :statusEstaDomiciliado %>
</div>
<div class="d-block">
  <%= form.check_box :statusUsaPlantasMedicinais  %>
  <%= form.label :statusUsaPlantasMedicinais  %>
</div>
<div class="row">
  <div class="col">
    <div class="mb-3">
      <%= form.label :descricaoPlantasMedicinaisUsadas %>
      <%= form.text_field :descricaoPlantasMedicinaisUsadas, class: 'form-control btn-pill' %>
    </div>
  </div>
</div>
<div class="d-block">
  <%= form.check_box :statusUsaOutrasPraticasIntegrativasOuComplementares %>
  <%= form.label :statusUsaOutrasPraticasIntegrativasOuComplementares %>
</div>
<div class="row">
  <div class="col">
    <div class="mb-3">
      <%= form.label :descricaoOutraCondicao1 %>
      <%= form.text_field :descricaoOutraCondicao1, class: 'form-control btn-pill' %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="mb-3">
      <%= form.label :descricaoOutraCondicao2 %>
      <%= form.text_field :descricaoOutraCondicao2, class: 'form-control btn-pill' %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="mb-3">
      <%= form.label :descricaoOutraCondicao3 %>
      <%= form.text_field :descricaoOutraCondicao3, class: 'form-control btn-pill' %>
    </div>
  </div>
</div>
