<div class="tab">
  <div class="checkbox checkbox-dark">
    <%= form.check_box :statusTeveInternadoEm12Meses %>
    <%= form.label :statusTeveInternadoEm12Meses %>
  </div>
  <div class="row">
    <div class="col">
      <div class="mb-3">
        <%= form.label :descricaoCausaInternacaoEm12Meses %>
        <%= form.text_field :descricaoCausaInternacaoEm12Meses, class: 'form-control btn-pill' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="mb-3">
        <%= form.label :descricaoOutraCondicao1 %>
        <%= form.text_field :descricaoOutraCondicao1, class: 'form-control btn-pill' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="mb-3">
        <%= form.label :descricaoOutraCondicao2 %>
        <%= form.text_field :descricaoOutraCondicao2, class: 'form-control btn-pill' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="mb-3">
        <%= form.label :descricaoOutraCondicao3 %>
        <%= form.text_field :descricaoOutraCondicao3, class: 'form-control btn-pill' %>
      </div>
    </div>
  </div>
  <div class="checkbox checkbox-dark">
    <%= form.check_box :statusUsaPlantasMedicinais  %>
    <%= form.label :statusUsaPlantasMedicinais  %>
  </div>
  <div class="row">
    <div class="col">
      <div class="mb-3">
        <%= form.label :descricaoPlantasMedicinaisUsadas %>
        <%= form.text_field :descricaoPlantasMedicinaisUsadas, class: 'form-control btn-pill' %>
      </div>
    </div>
  </div>
  <div class="checkbox checkbox-dark">
    <%= form.check_box :statusTeveDoencaCardiaca %>
    <%= form.label :statusTeveDoencaCardiaca %>
  </div>
  <div class="row">
    <div class="col">
      <div class="mb-3">
        <%= form.label :doencaCardiaca %>
        <%= form.collection_check_boxes :doencaCardiaca, IndividualRegistration.doencaCardiacas.map{ |a| [a.first,a.first] }, :first, :second do |b| %>
          <div class="checkbox checkbox-dark">
            <%= b.label %>
            <%= b.check_box %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="checkbox checkbox-dark">
    <%= form.check_box :statusTemDoencaRespiratoria %>
    <%= form.label :statusTemDoencaRespiratoria %>
  </div>
  <div class="row">
    <div class="col">
      <div class="mb-3">
        <%= form.label :doencaRespiratoria %>
        <%= form.number_field :doencaRespiratoria, class: 'form-control btn-pill' %>
      </div>
    </div>
  </div>
  <div class="checkbox checkbox-dark">
    <%= form.check_box :statusTemTeveDoencasRins %>
    <%= form.label :statusTemTeveDoencasRins %>
  </div>
  <div class="row">
    <div class="col">
      <div class="mb-3">
        <%= form.label :doencaRins %>
        <%= form.number_field :doencaRins, class: 'form-control btn-pill' %>
      </div>
    </div>
  </div>
  <div class="checkbox checkbox-dark">
    <%= form.check_box :statusEhGestante %>
    <%= form.label :statusEhGestante %>
  </div>
  <div class="row">
    <div class="col">
      <div class="mb-3">
        <%= form.label :maternidadeDeReferencia %>
        <%= form.text_field :maternidadeDeReferencia, class: 'form-control btn-pill' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="mb-3">
        <%= form.label :situacaoPeso %>
        <%= form.number_field :situacaoPeso, class: 'form-control btn-pill' %>
      </div>
    </div>
  </div>
  <div class="checkbox checkbox-dark">
    <%= form.check_box :statusEhDependenteAlcool %>
    <%= form.label :statusEhDependenteAlcool %>
  </div>
  <div class="checkbox checkbox-dark">
    <%= form.check_box :statusEhDependenteOutrasDrogas %>
    <%= form.label :statusEhDependenteOutrasDrogas %>
  </div>
  <div class="checkbox checkbox-dark">
    <%= form.check_box :statusEhFumante %>
    <%= form.label :statusEhFumante %>
  </div>
  <div class="checkbox checkbox-dark">
    <%= form.check_box :statusEstaAcamado %>
    <%= form.label :statusEstaAcamado %>
  </div>
  <div class="checkbox checkbox-dark">
    <%= form.check_box :statusEstaDomiciliado %>
    <%= form.label :statusEstaDomiciliado %>
  </div>
  <div class="checkbox checkbox-dark">
    <%= form.check_box :statusTemDiabetes %>
    <%= form.label :statusTemDiabetes %>
  </div>
  <div class="checkbox checkbox-dark">
    <%= form.check_box :statusTemHanseniase %>
    <%= form.label :statusTemHanseniase %>
  </div>
  <div class="checkbox checkbox-dark">
    <%= form.check_box :statusTemHipertensaoArterial %>
    <%= form.label :statusTemHipertensaoArterial %>
  </div>
  <div class="checkbox checkbox-dark">
    <%= form.check_box :statusTemTeveCancer %>
    <%= form.label :statusTemTeveCancer %>
  </div>
  <div class="checkbox checkbox-dark">
    <%= form.check_box :statusTemTeveDoencasRins %>
    <%= form.label :statusTemTeveDoencasRins %>
  </div>
  <div class="checkbox checkbox-dark">
    <%= form.check_box :statusTemTuberculose %>
    <%= form.label :statusTemTuberculose %>
  </div>
  <div class="checkbox checkbox-dark">
    <%= form.check_box :statusTeveAvcDerrame %>
    <%= form.label :statusTeveAvcDerrame %>
  </div>
  <div class="checkbox checkbox-dark">
    <%= form.check_box :statusTeveInfarto %>
    <%= form.label :statusTeveInfarto %>
  </div>
  <div class="checkbox checkbox-dark">
    <%= form.check_box :statusUsaOutrasPraticasIntegrativasOuComplementares %>
    <%= form.label :statusUsaOutrasPraticasIntegrativasOuComplementares %>
  </div>
  <div class="checkbox checkbox-dark">
    <%= form.check_box :statusDiagnosticoMental %>
    <%= form.label :statusDiagnosticoMental %>
  </div>
</div>
