<div class="tab">
  <div class="row">
    <div class="col">
      <div class="mb-3">
        <%= form.label :deficienciasCidadao %>
        <%= form.number_field :deficienciasCidadao, class: 'form-control btn-pill' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="mb-3">
        <%= form.label :grauInstrucaoCidadao %>
        <%= form.number_field :grauInstrucaoCidadao, class: 'form-control btn-pill' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="mb-3">
        <%= form.label :ocupacaoCodigoCbo2002 %>
        <%= form.text_field :ocupacaoCodigoCbo2002, class: 'form-control btn-pill' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="mb-3">
        <%= form.label :orientacaoSexualCidadao %>
        <%= form.number_field :orientacaoSexualCidadao, class: 'form-control btn-pill' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="mb-3">
        <%= form.label :relacaoParentescoCidadao %>
        <%= form.number_field :relacaoParentescoCidadao, class: 'form-control btn-pill' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="mb-3">
        <%= form.label :situacaoMercadoTrabalhoCidadao %>
        <%= form.number_field :situacaoMercadoTrabalhoCidadao, class: 'form-control btn-pill' %>
      </div>
    </div>
  </div>
  <div class="checkbox checkbox-dark">
    <%= form.check_box :statusDesejaInformarOrientacaoSexual %>
    <%= form.label :statusDesejaInformarOrientacaoSexual %>
  </div>
  <div class="checkbox checkbox-dark">
    <%= form.check_box :statusFrequentaBenzedeira %>
    <%= form.label :statusFrequentaBenzedeira %>
  </div>
  <div class="checkbox checkbox-dark">
    <%= form.check_box :statusFrequentaEscola %>
    <%= form.label :statusFrequentaEscola %>
  </div>
  <div class="checkbox checkbox-dark">
    <%= form.check_box :statusMembroPovoComunidadeTradicional %>
    <%= form.label :statusMembroPovoComunidadeTradicional %>
  </div>
  <div class="checkbox checkbox-dark">
    <%= form.check_box :statusParticipaGrupoComunitario %>
    <%= form.label :statusParticipaGrupoComunitario %>
  </div>
  <div class="checkbox checkbox-dark">
    <%= form.check_box :statusPossuiPlanoSaudePrivado %>
    <%= form.label :statusPossuiPlanoSaudePrivado %>
  </div>
  <div class="checkbox checkbox-dark">
    <%= form.check_box :statusTemAlgumaDeficiencia %>
    <%= form.label :statusTemAlgumaDeficiencia %>
  </div>
  <div class="row">
    <div class="col">
      <div class="mb-3">
        <%= form.label :identidadeGeneroCidadao %>
        <%= form.number_field :identidadeGeneroCidadao, class: 'form-control btn-pill' %>
      </div>
    </div>
  </div>
  <div class="checkbox checkbox-dark">
    <%= form.check_box :statusDesejaInformarIdentidadeGenero %>
    <%= form.label :statusDesejaInformarIdentidadeGenero %>
  </div>
  <div class="row">
    <div class="col">
      <div class="mb-3">
        <%= form.label :responsavelPorCrianca %>
        <%= form.number_field :responsavelPorCrianca, class: 'form-control btn-pill' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="mb-3">
        <%= form.label :coPovoComunidadeTradicional %>
        <%= form.number_field :coPovoComunidadeTradicional, class: 'form-control btn-pill' %>
      </div>
    </div>
  </div>
</div>
