<h2>Informações sociodemográficas</h2>
<div class="row">
  <div class="col">
    <div class="mb-3">
      <%= form.label :relacaoParentescoCidadao %>
      <%= form.collection_radio_buttons :relacaoParentescoCidadao, @options[:relacao_parentesco], :second, :first do |b| %>
        <div class="d-block">
          <%= b.radio_button %>
          <%= b.label %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="mb-3">
      <%= form.label :cbo %>
      <%= form.select :cbo, @options[:cbo], { prompt: "Selecione CBO" }, { class: 'js-example-basic-single col-sm-12' } %>
    </div>
  </div>
</div>
<div class="d-block">
  <%= form.check_box :statusFrequentaEscola %>
  <%= form.label :statusFrequentaEscola %>
</div>
<div class="col">
  <div class="mb-3">
    <%= form.label :grauInstrucaoCidadao %>
    <%= form.collection_radio_buttons :grauInstrucaoCidadao, @options[:curso_mais_elevado], :second, :first do |b| %>
      <div class="d-block">
        <%= b.radio_button %>
        <%= b.label %>
      </div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="mb-3">
      <%= form.label :situacaoMercadoTrabalhoCidadao %>
      <%= form.collection_radio_buttons :situacaoMercadoTrabalhoCidadao, @options[:situacao_mercado_trabalho], :second, :first do |b| %>
        <div class="d-block">
          <%= b.radio_button %>
          <%= b.label %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="mb-3">
      <%= form.label :responsavelPorCrianca %>
      <%= form.collection_radio_buttons :responsavelPorCrianca, @options[:responsavel_crianca], :second, :first do |b| %>
        <div class="d-block">
          <%= b.radio_button %>
          <%= b.label %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="d-block">
  <%= form.check_box :statusFrequentaBenzedeira %>
  <%= form.label :statusFrequentaBenzedeira %>
</div>
<div class="d-block">
  <%= form.check_box :statusParticipaGrupoComunitario %>
  <%= form.label :statusParticipaGrupoComunitario %>
</div>
<div class="d-block">
  <%= form.check_box :statusPossuiPlanoSaudePrivado %>
  <%= form.label :statusPossuiPlanoSaudePrivado %>
</div>
<div class="d-block">
  <%= form.check_box :statusMembroPovoComunidadeTradicional %>
  <%= form.label :statusMembroPovoComunidadeTradicional %>
</div>
<div class="row">
  <div class="col">
    <div class="mb-3">
      <%= form.label :coPovoComunidadeTradicional %>
      <%= form.text_field :coPovoComunidadeTradicional, class: 'form-control btn-pill' %>
    </div>
  </div>
</div>
<div class="d-block">
  <%= form.check_box :statusDesejaInformarOrientacaoSexual %>
  <%= form.label :statusDesejaInformarOrientacaoSexual %>
</div>
<div id="orientacaoSexualCidadao-options" class="row">
  <div class="col">
    <div class="mb-3">
      <%= form.label :orientacaoSexualCidadao %>
      <%= form.collection_radio_buttons :orientacaoSexualCidadao, @options[:orientacao_sexual], :second, :first do |b| %>
        <div class="d-block">
          <%= b.radio_button %>
          <%= b.label %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="d-block">
  <%= form.check_box :statusTemAlgumaDeficiencia %>
  <%= form.label :statusTemAlgumaDeficiencia %>
</div>
<div class="col">
  <div class="mb-3">
    <%= form.label :deficienciasCidadao %>
    <%= form.collection_check_boxes :deficienciasCidadao, @options[:deficiencia_cidadao], :second, :first do |b| %>
      <div class="d-block">
        <%= b.check_box %>
        <%= b.label %>
      </div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col">
    <%= form.label :motivoSaidaCidadao %>
    <%= form.collection_radio_buttons :motivoSaidaCidadao, @options[:motivo_saida], :second, :first do |b| %>
      <div class="d-block">
        <%= b.radio_button %>
        <%= b.label %>
      </div>
    <% end %>
  </div>
</div>
