<div class="tab">
  <div class="row">
    <div class="col">
      <div class="mb-3">
        <%= form.label :grauParentescoFamiliarFrequentado %>
        <%= form.text_field :grauParentescoFamiliarFrequentado, class: 'form-control btn-pill' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="mb-3">
        <%= form.label :higienePessoalSituacaoRua %>
        <%= form.collection_check_boxes :higienePessoalSituacaoRua, @options[:acesso_higiene], :second, :first do |b| %>
          <div class="d-block">
            <%= b.label %>
            <%= b.check_box %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="mb-3">
        <%= form.label :origemAlimentoSituacaoRua %>
        <%= form.collection_check_boxes :origemAlimentoSituacaoRua, @options[:origem_alimento], :second, :first do |b| %>
          <div class="d-block">
            <%= b.label %>
            <%= b.check_box %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="mb-3">
        <%= form.label :outraInstituicaoQueAcompanha %>
        <%= form.text_field :outraInstituicaoQueAcompanha, class: 'form-control btn-pill' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="mb-3">
        <%= form.label :quantidadeAlimentacoesAoDiaSituacaoRua %>
        <%= form.collection_radio_buttons :quantidadeAlimentacoesAoDiaSituacaoRua, @options[:quantas_vezes_alimentacao], :second, :first do |b| %>
          <div class="d-block">
            <%= b.radio_button %>
            <%= b.label %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="d-block">
    <%= form.check_box :statusAcompanhadoPorOutraInstituicao %>
    <%= form.label :statusAcompanhadoPorOutraInstituicao %>
  </div>
  <div class="d-block">
    <%= form.check_box :statusPossuiReferenciaFamiliar %>
    <%= form.label :statusPossuiReferenciaFamiliar %>
  </div>
  <div class="d-block">
    <%= form.check_box :statusSituacaoRua %>
    <%= form.label :statusSituacaoRua %>
  </div>
  <div class="d-block">
    <%= form.check_box :statusTemAcessoHigienePessoalSituacaoRua %>
    <%= form.label :statusTemAcessoHigienePessoalSituacaoRua %>
  </div>
  <div class="d-block">
    <%= form.check_box :statusVisitaFamiliarFrequentemente %>
    <%= form.label :statusVisitaFamiliarFrequentemente %>
  </div>
  <div class="row">
    <div class="col">
      <div class="mb-3">
        <%= form.label :tempoSituacaoRua %>
        <%= form.collection_radio_buttons :tempoSituacaoRua, @options[:tempo_situacao_rua], :second, :first do |b| %>
          <div class="d-block">
            <%= b.radio_button %>
            <%= b.label %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
