<div class="tab">
  <div class="checkbox checkbox-dark">
    <%= form.check_box :statusTermoRecusaCadastroIndividualAtencaoBasica %>
    <%= form.label :statusTermoRecusaCadastroIndividualAtencaoBasica %>
  </div>
  <div class="row">
    <div class="col">
      <div class="mb-3">
        <%= form.label :uuid %>
        <%= form.text_field :uuid, class: 'form-control btn-pill' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="mb-3">
        <%= form.label :uuidFichaOriginadora %>
        <%= form.text_field :uuidFichaOriginadora, class: 'form-control btn-pill' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="mb-3">
        <%= form.label :uuidCidadao %>
        <%= form.text_field :uuidCidadao, class: 'form-control btn-pill' %>
      </div>
    </div>
  </div>
  <div class="checkbox checkbox-dark">
    <%= form.check_box :statusCadastroIndividualInativo %>
    <%= form.label :statusCadastroIndividualInativo %>
  </div>
  <div class="checkbox checkbox-dark">
    <%= form.check_box :statusGeradoAutomaticamente %>
    <%= form.label :statusGeradoAutomaticamente %>
  </div>
</div>
