<p id="notice"><%= notice %></p>

<h1>Individual Registrations</h1>

<table>
  <thead>
    <tr>
      <th>Statustemdoencarespiratoria</th>
      <th>Statustemtevedoencasrins</th>
      <th>Statustevedoencacardiaca</th>
      <th>Statusteveinternadoem12meses</th>
      <th>Statususaplantamedicinais</th>
      <th>Grauparentescofamiliarfrequentado</th>
      <th>Higienepessoalsituacaorua</th>
      <th>Origemalimentosituacaorua</th>
      <th>Outrainstituicaoqueacompanha</th>
      <th>Quantidadealimentacoesaodiasituacaorua</th>
      <th>Statusacompanhadoporoutrainstituicao</th>
      <th>Statustemacessohigienepessoalsituacaorua</th>
      <th>Statusvisitafamiliarfrequentemente</th>
      <th>Temposituacaorua</th>
      <th>Fichaatualizada</th>
      <th>Codigoibgemunicipionascimento</th>
      <th>Desconhecenomemae</th>
      <th>Statusehresponsavel</th>
      <th>Nomepaicidadao</th>
      <th>Desconhecenomepai</th>
      <th>Microarea</th>
      <th>Stforaarea</th>
      <th>Deficienciascidadao</th>
      <th>Grauinstrucaocidadao</th>
      <th>Ocupacaocodigocbo2002</th>
      <th>Statusfrequentaescola</th>
      <th>Statusmembropovocomunidadetradicional</th>
      <th>Statusdesejainformaridentidadegenero</th>
      <th>Copovocomunidadetradicional</th>
      <th>Statustermorecusacadastroindividualatencaobasica</th>
      <th>Uuid</th>
      <th>Uuidfichaoriginadora</th>
      <th>Profissionalcns</th>
      <th>Cbocodigo 2002</th>
      <th>Cnes</th>
      <th>Ine</th>
      <th>Dataatendimento</th>
      <th>Codigoibgemunicipio</th>
      <th>Uuiddadoserializado</th>
      <th>Tipodadoserializado</th>
      <th>Codibge</th>
      <th>Cnesdadoserializado</th>
      <th>Inedadoserializado</th>
      <th>Numlote</th>
      <th>Fichaatualizada</th>
      <th>Statustermorecusacadastroindividualatencaobasica</th>
      <th>Tpcdsorigem</th>
      <th>Descricaocausainternacaoem12meses</th>
      <th>Descricaooutracondicao1</th>
      <th>Descricaooutracondicao2</th>
      <th>Descricaoplantasmedicinaisusadas</th>
      <th>Doencacardiaca</th>
      <th>Doencarespiratoria</th>
      <th>Doencarins</th>
      <th>Maternidadedereferencia</th>
      <th>Situacaopeso</th>
      <th>Statusehdependentealcool</th>
      <th>Statusehdependenteoutrasdrogas</th>
      <th>Statusehfumante</th>
      <th>Statusehgestante</th>
      <th>Statusestaacamado</th>
      <th>Statusestadomiciliado</th>
      <th>Statustemdiabetes</th>
      <th>Statustemdoencarespiratoria</th>
      <th>Statustemhanseniase</th>
      <th>Statustemhipertensaoarterial</th>
      <th>Statustemtevecancer</th>
      <th>Statustemtevedoencasrins</th>
      <th>Statustemtuberculose</th>
      <th>Statusteveavcderrame</th>
      <th>Statustevedoencacardiaca</th>
      <th>Statusteveinfarto</th>
      <th>Statusteveinternadoem12meses</th>
      <th>Statususaplantamedicinais</th>
      <th>Statusdiagnosticomental</th>
      <th>Grauparentescofamiliarfrequentado</th>
      <th>Higienepessoalsituacaorua</th>
      <th>Higienepessoalsituacaorua</th>
      <th>Origemalimentosituacaorua</th>
      <th>Origemalimentosituacaorua</th>
      <th>Outrainstituicaoqueacompanha</th>
      <th>Quantidadealimentacoesaodiasituacaorua</th>
      <th>Statusacompanhadoporoutrainstituicao</th>
      <th>Statuspossuireferenciafamiliar</th>
      <th>Statusrecebebeneficio</th>
      <th>Statussituacaorua</th>
      <th>Statustemacessohigienepessoalsituacaorua</th>
      <th>Statusvisitafamiliarfrequentemente</th>
      <th>Temposituacaorua</th>
      <th>Codigoibgemunicipionascimento</th>
      <th>Datanascimentocidadao</th>
      <th>Desconhecenomemae</th>
      <th>Emailcidadao</th>
      <th>Nacionalidadecidadao</th>
      <th>Nomecidadao</th>
      <th>Nomemaecidadao</th>
      <th>Cpfcidadao</th>
      <th>Telefonecelular</th>
      <th>Paisnascimento</th>
      <th>Racacorcidadao</th>
      <th>Sexocidadao</th>
      <th>Statusehresponsavel</th>
      <th>Etnia</th>
      <th>Nomepaicidadao</th>
      <th>Desconhecenomepai</th>
      <th>Microarea</th>
      <th>Stforaarea</th>
      <th>Deficienciascidadao</th>
      <th>Deficienciascidadao</th>
      <th>Ocupacaocodigocbo2002</th>
      <th>Orientacaosexualcidadao</th>
      <th>Situacaomercadotrabalhocidadao</th>
      <th>Statusdesejainformarorientacaosexual</th>
      <th>Statusfrequentabenzedeira</th>
      <th>Statusfrequentaescola</th>
      <th>Statusmembropovocomunidadetradicional</th>
      <th>Statusparticipagrupocomunitario</th>
      <th>Statuspossuiplanosaudeprivado</th>
      <th>Statustemalgumadeficiencia</th>
      <th>Identidadegenerocidadao</th>
      <th>Statusdesejainformaridentidadegenero</th>
      <th>Copovocomunidadetradicional</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @individual_registrations.each do |individual_registration| %>
      <tr>
        <td><%= individual_registration.statusTemDoencaRespiratoria %></td>
        <td><%= individual_registration.statusTemTeveDoencasRins %></td>
        <td><%= individual_registration.statusTeveDoencaCardiaca %></td>
        <td><%= individual_registration.statusTeveInternadoEm12Meses %></td>
        <td><%= individual_registration.statusUsaPlantaMedicinais %></td>
        <td><%= individual_registration.grauParentescoFamiliarFrequentado %></td>
        <td><%= individual_registration.higienePessoalSituacaoRua %></td>
        <td><%= individual_registration.origemAlimentoSituacaoRua %></td>
        <td><%= individual_registration.outraInstituicaoQueAcompanha %></td>
        <td><%= individual_registration.quantidadeAlimentacoesAoDiaSituacaoRua %></td>
        <td><%= individual_registration.statusAcompanhadoPorOutraInstituicao %></td>
        <td><%= individual_registration.statusTemAcessoHigienePessoalSituacaoRua %></td>
        <td><%= individual_registration.statusVisitaFamiliarFrequentemente %></td>
        <td><%= individual_registration.tempoSituacaoRua %></td>
        <td><%= individual_registration.fichaAtualizada %></td>
        <td><%= individual_registration.codigoIbgeMunicipioNascimento %></td>
        <td><%= individual_registration.desconheceNomeMae %></td>
        <td><%= individual_registration.statusEhResponsavel %></td>
        <td><%= individual_registration.nomePaiCidadao %></td>
        <td><%= individual_registration.desconheceNomePai %></td>
        <td><%= individual_registration.microArea %></td>
        <td><%= individual_registration.stForaArea %></td>
        <td><%= individual_registration.deficienciasCidadao %></td>
        <td><%= individual_registration.grauInstrucaoCidadao %></td>
        <td><%= individual_registration.ocupacaoCodigoCbo2002 %></td>
        <td><%= individual_registration.statusFrequentaEscola %></td>
        <td><%= individual_registration.statusMembroPovoComunidadeTradicional %></td>
        <td><%= individual_registration.statusDesejaInformarIdentidadeGenero %></td>
        <td><%= individual_registration.coPovoComunidadeTradicional %></td>
        <td><%= individual_registration.statusTermoRecusaCadastroIndividualAtencaoBasica %></td>
        <td><%= individual_registration.uuid %></td>
        <td><%= individual_registration.uuidFichaOriginadora %></td>
        <td><%= individual_registration.profissionalCNS %></td>
        <td><%= individual_registration.cboCodigo_2002 %></td>
        <td><%= individual_registration.cnes %></td>
        <td><%= individual_registration.ine %></td>
        <td><%= individual_registration.dataAtendimento %></td>
        <td><%= individual_registration.codigoIbgeMunicipio %></td>
        <td><%= individual_registration.uuidDadoSerializado %></td>
        <td><%= individual_registration.tipoDadoSerializado %></td>
        <td><%= individual_registration.codIbge %></td>
        <td><%= individual_registration.cnesDadoSerializado %></td>
        <td><%= individual_registration.ineDadoSerializado %></td>
        <td><%= individual_registration.numLote %></td>
        <td><%= individual_registration.fichaAtualizada %></td>
        <td><%= individual_registration.statusTermoRecusaCadastroIndividualAtencaoBasica %></td>
        <td><%= individual_registration.tpCdsOrigem %></td>
        <td><%= individual_registration.descricaoCausaInternacaoEm12Meses %></td>
        <td><%= individual_registration.descricaoOutraCondicao1 %></td>
        <td><%= individual_registration.descricaoOutraCondicao2 %></td>
        <td><%= individual_registration.descricaoPlantasMedicinaisUsadas %></td>
        <td><%= individual_registration.doencaCardiaca %></td>
        <td><%= individual_registration.doencaRespiratoria %></td>
        <td><%= individual_registration.doencaRins %></td>
        <td><%= individual_registration.maternidadeDeReferencia %></td>
        <td><%= individual_registration.situacaoPeso %></td>
        <td><%= individual_registration.statusEhDependenteAlcool %></td>
        <td><%= individual_registration.statusEhDependenteOutrasDrogas %></td>
        <td><%= individual_registration.statusEhFumante %></td>
        <td><%= individual_registration.statusEhGestante %></td>
        <td><%= individual_registration.statusEstaAcamado %></td>
        <td><%= individual_registration.statusEstaDomiciliado %></td>
        <td><%= individual_registration.statusTemDiabetes %></td>
        <td><%= individual_registration.statusTemDoencaRespiratoria %></td>
        <td><%= individual_registration.statusTemHanseniase %></td>
        <td><%= individual_registration.statusTemHipertensaoArterial %></td>
        <td><%= individual_registration.statusTemTeveCancer %></td>
        <td><%= individual_registration.statusTemTeveDoencasRins %></td>
        <td><%= individual_registration.statusTemTuberculose %></td>
        <td><%= individual_registration.statusTeveAvcDerrame %></td>
        <td><%= individual_registration.statusTeveDoencaCardiaca %></td>
        <td><%= individual_registration.statusTeveInfarto %></td>
        <td><%= individual_registration.statusTeveInternadoEm12Meses %></td>
        <td><%= individual_registration.statusUsaPlantaMedicinais %></td>
        <td><%= individual_registration.statusDiagnosticoMental %></td>
        <td><%= individual_registration.grauParentescoFamiliarFrequentado %></td>
        <td><%= individual_registration.higienePessoalSituacaoRua %></td>
        <td><%= individual_registration.higienePessoalSituacaoRua %></td>
        <td><%= individual_registration.origemAlimentoSituacaoRua %></td>
        <td><%= individual_registration.origemAlimentoSituacaoRua %></td>
        <td><%= individual_registration.outraInstituicaoQueAcompanha %></td>
        <td><%= individual_registration.quantidadeAlimentacoesAoDiaSituacaoRua %></td>
        <td><%= individual_registration.statusAcompanhadoPorOutraInstituicao %></td>
        <td><%= individual_registration.statusPossuiReferenciaFamiliar %></td>
        <td><%= individual_registration.statusRecebeBeneficio %></td>
        <td><%= individual_registration.statusSituacaoRua %></td>
        <td><%= individual_registration.statusTemAcessoHigienePessoalSituacaoRua %></td>
        <td><%= individual_registration.statusVisitaFamiliarFrequentemente %></td>
        <td><%= individual_registration.tempoSituacaoRua %></td>
        <td><%= individual_registration.codigoIbgeMunicipioNascimento %></td>
        <td><%= individual_registration.dataNascimentoCidadao %></td>
        <td><%= individual_registration.desconheceNomeMae %></td>
        <td><%= individual_registration.emailCidadao %></td>
        <td><%= individual_registration.nacionalidadeCidadao %></td>
        <td><%= individual_registration.nomeCidadao %></td>
        <td><%= individual_registration.nomeMaeCidadao %></td>
        <td><%= individual_registration.cpfCidadao %></td>
        <td><%= individual_registration.telefoneCelular %></td>
        <td><%= individual_registration.paisNascimento %></td>
        <td><%= individual_registration.racaCorCidadao %></td>
        <td><%= individual_registration.sexoCidadao %></td>
        <td><%= individual_registration.statusEhResponsavel %></td>
        <td><%= individual_registration.etnia %></td>
        <td><%= individual_registration.nomePaiCidadao %></td>
        <td><%= individual_registration.desconheceNomePai %></td>
        <td><%= individual_registration.microArea %></td>
        <td><%= individual_registration.stForaArea %></td>
        <td><%= individual_registration.deficienciasCidadao %></td>
        <td><%= individual_registration.deficienciasCidadao %></td>
        <td><%= individual_registration.ocupacaoCodigoCbo2002 %></td>
        <td><%= individual_registration.orientacaoSexualCidadao %></td>
        <td><%= individual_registration.situacaoMercadoTrabalhoCidadao %></td>
        <td><%= individual_registration.statusDesejaInformarOrientacaoSexual %></td>
        <td><%= individual_registration.statusFrequentaBenzedeira %></td>
        <td><%= individual_registration.statusFrequentaEscola %></td>
        <td><%= individual_registration.statusMembroPovoComunidadeTradicional %></td>
        <td><%= individual_registration.statusParticipaGrupoComunitario %></td>
        <td><%= individual_registration.statusPossuiPlanoSaudePrivado %></td>
        <td><%= individual_registration.statusTemAlgumaDeficiencia %></td>
        <td><%= individual_registration.identidadeGeneroCidadao %></td>
        <td><%= individual_registration.statusDesejaInformarIdentidadeGenero %></td>
        <td><%= individual_registration.coPovoComunidadeTradicional %></td>
        <td><%= link_to 'Show', individual_registration %></td>
        <td><%= link_to 'Edit', edit_individual_registration_path(individual_registration) %></td>
        <td><%= link_to 'Destroy', individual_registration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Individual Registration', new_individual_registration_path %>
