<p id="notice"><%= notice %></p>

<h1>Individual Registrations</h1>

<table>
  <thead>
    <tr>
      <th>Uuid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @individual_registrations.each do |individual_registration| %>
      <tr>
        <td><%= individual_registration.uuid %></td>
        <td><%= link_to 'Show', individual_registration %></td>
        <td><%= link_to 'Edit', edit_individual_registration_path(individual_registration) %></td>
        <td><%= link_to 'Destroy', individual_registration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Individual Registration', new_individual_registration_path %>
