<p id="notice"><%= notice %></p>

<%= puts @individual_registration.ciap_cid %>
<p>
  <strong>Cns cpf cidadao:</strong>
  <%= @individual_registration.cns_cpf_cidadao %>
</p>

<p>
  <strong>Cns cpf responsavel familiar:</strong>
  <%= @individual_registration.cns_cpf_responsavel_familiar %>
</p>

<p>
  <strong>Nome completo:</strong>
  <%= @individual_registration.nome_completo %>
</p>

<p>
  <strong>Data nascimento:</strong>
  <%= @individual_registration.data_nascimento %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @individual_registration.sexo %>
</p>

<p>
  <strong>Raça cor:</strong>
  <%= @individual_registration.raca_cor %>
</p>

<p>
  <strong>Etnia:</strong>
  <%= @individual_registration.etnia %>
</p>

<p>
  <strong>Pis pasep:</strong>
  <%= @individual_registration.pis_pasep %>
</p>

<p>
  <strong>Nome completo mae:</strong>
  <%= @individual_registration.nome_completo_mae %>
</p>

<p>
  <strong>Nome completo pai:</strong>
  <%= @individual_registration.nome_completo_pai %>
</p>

<p>
  <strong>Nacionalidade:</strong>
  <%= @individual_registration.nacionalidade %>
</p>

<p>
  <strong>Pais nascimento:</strong>
  <%= @individual_registration.pais_nascimento %>
</p>

<p>
  <strong>Data naturalizacao:</strong>
  <%= @individual_registration.data_naturalizacao %>
</p>

<p>
  <strong>Municipio uf nascimento:</strong>
  <%= @individual_registration.municipio_uf_nascimento %>
</p>

<p>

<p>
  <strong>Telefone celular:</strong>
  <%= @individual_registration.telefone_celular %>
</p>

<p>
  <strong>Email:</strong>
  <%= @individual_registration.email %>
</p>

<p>
  <strong>Relacao parentesco responsavel familiar:</strong>
  <%= @individual_registration.relacao_parentesco_responsavel_familiar %>
</p>

<p>
  <strong>Curso elevado frequenta frequentou:</strong>
  <%= @individual_registration.curso_elevado_frequenta_frequentou %>
</p>

<p>
  <strong>Situacao mercado trabalho:</strong>
  <%= @individual_registration.situacao_mercado_trabalho %>
</p>

<p>
  <strong>Frequenta cuidador tradicional:</strong>
  <%= @individual_registration.frequenta_cuidador_tradicional %>
</p>

<p>
  <strong>Participa grupo comunitario:</strong>
  <%= @individual_registration.participa_grupo_comunitario %>
</p>

<p>
  <strong>Possui plano saude privado:</strong>
  <%= @individual_registration.possui_plano_saude_privado %>
</p>

<p>
  <strong>Orientacao sexual:</strong>
  <%= @individual_registration.orientacao_sexual %>
</p>

<p>
  <strong>Identidade genero:</strong>
  <%= @individual_registration.identidade_genero %>
</p>

<p>
  <strong>Saida cidadao cadastro:</strong>
  <%= @individual_registration.saida_cidadao_cadastro %>
</p>

<p>
  <strong>Gestante:</strong>
  <%= @individual_registration.gestante %>
</p>

<p>
  <strong>Peso:</strong>
  <%= @individual_registration.peso %>
</p>

<p>
  <strong>Fumante:</strong>
  <%= @individual_registration.fumante %>
</p>

<p>
  <strong>Uso alcool:</strong>
  <%= @individual_registration.uso_alcool %>
</p>

<p>
  <strong>Uso outras drogas:</strong>
  <%= @individual_registration.uso_outras_drogas %>
</p>

<p>
  <strong>Tem autismo leve:</strong>
  <%= @individual_registration.autismo_leve %>
</p>

<p>
  <strong>Hipertensao arterial:</strong>
  <%= @individual_registration.hipertensao_arterial %>
</p>

<p>
  <strong>Diabetes:</strong>
  <%= @individual_registration.diabetes %>
</p>

<p>
  <strong>Avc derrame:</strong>
  <%= @individual_registration.avc_derrame %>
</p>

<p>
  <strong>Infarto:</strong>
  <%= @individual_registration.infarto %>
</p>

<p>
  <strong>Hanseniase:</strong>
  <%= @individual_registration.hanseniase %>
</p>

<p>
  <strong>Tuberculose:</strong>
  <%= @individual_registration.tuberculose %>
</p>

<p>
  <strong>Tem ou teve cancer:</strong>
  <%= @individual_registration.tem_ou_teve_cancer %>
</p>

<p>
  <strong>Alguma internacao ultimos 12 meses:</strong>
  <%= @individual_registration.alguma_internacao_ultimos_12_meses %>
</p>

<p>
  <strong>Diagnostico algum problema saude mental profissional saude:</strong>
  <%= @individual_registration.diagnostico_algum_problema_saude_mental_profissional_saude %>
</p>

<p>
  <strong>Acamado:</strong>
  <%= @individual_registration.acamado %>
</p>

<p>
  <strong>Domiciliado:</strong>
  <%= @individual_registration.domiciliado %>
</p>

<p>
  <strong>Outras praticas integrativas complementares:</strong>
  <%= @individual_registration.outras_praticas_integrativas_complementares %>
</p>

<p>
  <strong>Situacao rua:</strong>
  <%= @individual_registration.situacao_rua %>
</p>

<p>
  <strong>Recebe algum beneficio:</strong>
  <%= @individual_registration.recebe_algum_beneficio %>
</p>

<p>
  <strong>Possui referencia familiar:</strong>
  <%= @individual_registration.possui_referencia_familiar %>
</p>

<%= link_to 'Edit', edit_individual_registration_path(@individual_registration) %> |
<%= link_to 'Back', individual_registrations_path %>

<button class="js-modal-trigger" data-target="modal-js-example">
  Enviar Mensagem para o Paciente
</button>

<div id="modal-js-example" class="modal">
  <div class="modal-background"></div>

  <div class="modal-content">
    <div class="box">
     <%= form_with(url: notify_patient_path(id: @individual_registration.id), local: false, html: { autocomplete: 'off' }) do |form| %>
     <h2>Enviar Mensagem para o paciente: <%= @individual_registration.nome_completo %>
      <div class="field">
        <%= form.label :title %>
        <%= form.text_field :title %>
      </div>

      <div class="field">
        <%= form.label :description %>
        <%= form.text_field :description %>
      </div>

      <div class="actions">
        <%= form.submit %>
      </div>
     <% end %>
    </div>
  </div>

  <button class="modal-close is-large" aria-label="close"></button>
</div>
