<div class="card">
  <div class="card-header">
    <p class="card-header-title">Sign up</p>
  </div>
  <div class="card-content">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.fields_for :doctor do |doctor_form| %>
        <div class="field">
          <%= doctor_form.label :full_name, class: 'label' %>
          <div class="control">
            <%= doctor_form.text_field :full_name, autofocus: true, class: 'input' %>
          </div>
        </div>
        <div class="field">
          <%= doctor_form.label :CRM , class: 'label' %>
          <div class="control">
            <%= doctor_form.text_field :CRM, class: 'input' %>
          </div>
        </div>
      <% end %>
      <div class="field">
        <%= f.label :email, class: 'label' %>
        <div class="control">
          <%= f.email_field :email, class: 'input' %>
        </div>
      </div>
      <div class="field">
        <%= f.label :password, class: 'label' %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <div class="control">
          <%= f.password_field :password, autocomplete: "new-password", class: 'input' %>
        </div>
      </div>
      <div class="field">
        <%= f.label :password_confirmation, class: 'label'%>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'input' %>
      </div>
      <div class="actions control">
        <%= f.submit "Sign up", class: "button is-primary" %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>
