<%= form_with(model: procedure_sheet) do |form| %>
  <% if procedure_sheet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(procedure_sheet.errors.count, "error") %> prohibited this procedure_sheet from being saved:</h2>
      <ul>
        <% procedure_sheet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <%= form.label :numTotalAfericaoPa %>
          <%= form.number_field :numTotalAfericaoPa, class: 'form-control btn-pill' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <%= form.label :numTotalAfericaoTemperatura %>
          <%= form.number_field :numTotalAfericaoTemperatura, class: 'form-control btn-pill' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <%= form.label :numTotalCurativoSimples %>
          <%= form.number_field :numTotalCurativoSimples, class: 'form-control btn-pill' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <%= form.label :numTotalColetaMaterialParaExameLaboratorial %>
          <%= form.number_field :numTotalColetaMaterialParaExameLaboratorial, class: 'form-control btn-pill' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <%= form.label :numTotalGlicemiaCapilar %>
          <%= form.number_field :numTotalGlicemiaCapilar, class: 'form-control btn-pill' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <%= form.label :numTotalMedicaoAltura %>
          <%= form.number_field :numTotalMedicaoAltura, class: 'form-control btn-pill' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <%= form.label :numTotalMedicaoPeso %>
          <%= form.number_field :numTotalMedicaoPeso, class: 'form-control btn-pill' %>
        </div>
      </div>
    </div>
    <h2>Procedimentos</h2>
    <div id="care-procedures">
      <%= form.fields_for :care_procedures do |care_procedure| %>
        <%= render 'care_procedure_fields', f: care_procedure %>
      <% end %>
      <div class="links">
        <%= link_to_add_association 'add care procedure', form, :care_procedures %>
        <br>
        <br>
      </div>
    </div>
   <div class="text-end btn-mb">
    <%= form.submit class: "btn btn-success" %>
  </div>
<% end %>
