<p id="notice"><%= notice %></p>

<%= link_to 'Gerar', generate_only_xml_path(id: @procedure_sheet.id) %>

<p>
  <strong>Uuidficha:</strong>
  <%= @procedure_sheet.uuidFicha %>
</p>

<p>
  <strong>Tpcdsorigem:</strong>
  <%= @procedure_sheet.tpCdsOrigem %>
</p>

<p>
  <strong>Numtotalafericaopa:</strong>
  <%= @procedure_sheet.numTotalAfericaoPa %>
</p>

<p>
  <strong>Numtotalafericaotemperatura:</strong>
  <%= @procedure_sheet.numTotalAfericaoTemperatura %>
</p>

<p>
  <strong>Numtotalcurativosimples:</strong>
  <%= @procedure_sheet.numTotalCurativoSimples %>
</p>

<p>
  <strong>Numtotalcoletamaterialparaexamelaboratorial:</strong>
  <%= @procedure_sheet.numTotalColetaMaterialParaExameLaboratorial %>
</p>

<p>
  <strong>Numtotalglicemiacapilar:</strong>
  <%= @procedure_sheet.numTotalGlicemiaCapilar %>
</p>

<p>
  <strong>Numtotalmedicaoaltura:</strong>
  <%= @procedure_sheet.numTotalMedicaoAltura %>
</p>

<p>
  <strong>Numtotalmedicaopeso:</strong>
  <%= @procedure_sheet.numTotalMedicaoPeso %>
</p>

<%= link_to 'Edit', edit_procedure_sheet_path(@procedure_sheet) %> |
<%= link_to 'Back', procedure_sheets_path %>
