<p id="notice"><%= notice %></p>

<p>
  <strong>Cnsprofissional:</strong>
  <%= @professional.cnsProfissional %>
</p>

<p>
  <strong>Codigocbo2002:</strong>
  <%= @professional.codigoCbo2002 %>
</p>

<%= link_to 'Edit', edit_professional_path(@professional) %> |
<%= link_to 'Back', professionals_path %>
