<p id="notice"><%= notice %></p>

<p>
  <strong>Datanascimentoresponsavel:</strong>
  <%= @family.dataNascimentoResponsavel %>
</p>

<p>
  <strong>Numerocnsresponsavel:</strong>
  <%= @family.numeroCnsResponsavel %>
</p>

<p>
  <strong>Numeromembrosfamilia:</strong>
  <%= @family.numeroMembrosFamilia %>
</p>

<p>
  <strong>Numeroprontuario:</strong>
  <%= @family.numeroProntuario %>
</p>

<p>
  <strong>Rendafamiliar:</strong>
  <%= @family.rendaFamiliar %>
</p>

<p>
  <strong>Residedesde:</strong>
  <%= @family.resideDesde %>
</p>

<p>
  <strong>Stmudanca:</strong>
  <%= @family.stMudanca %>
</p>

<p>
  <strong>References:</strong>
  <%= @family.references %>
</p>

<%= link_to 'Edit', edit_family_path(@family) %> |
<%= link_to 'Back', families_path %>
