<p id="notice"><%= notice %></p>

<p>
  <strong>Tiporesultado:</strong>
  <%= @result.tipoResultado %>
</p>

<p>
  <strong>Valorresultado:</strong>
  <%= @result.valorResultado %>
</p>

<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
