<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>
<ul>
  <li><%= link_to 'Cadastro Individual', individual_registrations_path %> </li>
  <li><%= link_to 'Cadastro Domiliciar', household_registrations_path %> </li>
  <li><%= link_to 'Atendimento Individual', individual_call_masters_path %> </li>
  <li><%= link_to 'Ficha de Procedimento', procedure_sheets_path %> </li>
  <li><%= link_to 'Ficha de Atividade Coletiva', collective_activity_sheets_path %> </li>
  <li><%= link_to 'Diabetes/Hipertensão', patients_path %> </li>
  <%# <li><a href='#'>Saúde da mulher</a> </li> </li>
  <li><a href='#'>Idoso</a> </li> </li>
  <li><a href='#'>Hanseniase</a> </li> </li>
  <li><a href='#'>Tuberculose</a> </li> </li>
  <li><a href='#'>População LGBT ( em construção)</a> </li> </li>
  <li><a href='#'>TDAH</a> </li> </li>
  <li><a href='#'>Autismo</a> </li> </li>
  <li><a href='#'>Localização espacial</a> </li> </li>
  <li><a href='#'>Em controle</a> </li> </li>
  <li><a href='#'>Precisando de atenção</a> </li> </li>
  <li><a href='#'>Atenção urgente</a> </li> </li>
  <li><a href='#'>Mensagens enviadas e respondidas</a> </li> </li>
  <li><a href='#'>Tipo de mensagem ou alarme para população alvo</a> </li> </li>
  <li><a href='#'>Sobreposição de risco</a> </li> </li> %>
</ul>
