<%= form_with(model: household_registration) do |form| %>
  <% if household_registration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(household_registration.errors.count, "error") %> prohibited this household_registration from being saved:</h2>
      <ul>
        <% household_registration.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div id="families" class="tab">
    <%= form.fields_for :families do |family| %>
      <%= render 'family_fields', f: family %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'add family', form, :families %>
      <br>
      <br>
    </div>
  </div>
  <div class="tab">
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <%= form.label :animaisNoDomicilio %>
          <%= form.collection_check_boxes :animaisNoDomicilio, @options[:animal_domicilio], :second, :first do |b| %>
            <div class="d-block">
              <%= b.check_box %>
              <%= b.label %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <%= form.check_box :fichaAtualizada %>
          <%= form.label :fichaAtualizada %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <%= form.check_box :stAnimaisNoDomicilio %>
          <%= form.label :stAnimaisNoDomicilio %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <%= form.label :quantosAnimaisNoDomicilio %>
          <%= form.text_field :quantosAnimaisNoDomicilio, class: 'form-control btn-pill' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <%= form.check_box :statusTermoRecusaCadatroDomiciliarAtencaoBasica %>
          <%= form.label :statusTermoRecusaCadatroDomiciliarAtencaoBasica %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <%= form.label :tpCdsOrigem %>
          <%= form.number_field :tpCdsOrigem, class: 'form-control btn-pill' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <%= form.label :uuid %>
          <%= form.text_field :uuid, class: 'form-control btn-pill' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <%= form.label :uuidFichaOriginadora %>
          <%= form.text_field :uuidFichaOriginadora, class: 'form-control btn-pill' %>
        </div>
      </div>
    </div>
  </div>
  <div class="tab">
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <%= form.label :bairro %>
          <%= form.text_field :bairro, class: 'form-control btn-pill' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <%= form.label :cep %>
          <%= form.text_field :cep, class: 'form-control btn-pill' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <%= form.label :codigoIbgeMunicipio %>
          <%= form.select :codigoIbgeMunicipio, @options[:municipios], {}, { class: 'js-example-basic-single col-sm-12' } %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <%= form.label :complemento %>
          <%= form.text_field :complemento, class: 'form-control btn-pill' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <%= form.label :nomeLogradouro %>
          <%= form.text_field :nomeLogradouro, class: 'form-control btn-pill' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <%= form.label :numero %>
          <%= form.text_field :numero, class: 'form-control btn-pill' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <%= form.label :numeroDneUf %>
          <%= form.select :numeroDneUf, @options[:estados], {}, { class: 'js-example-basic-single col-sm-12' } %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <%= form.label :telReferencial %>
          <%= form.text_field :telReferencial, class: 'form-control btn-pill' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <%= form.label :telResidencial %>
          <%= form.text_field :telResidencial, class: 'form-control btn-pill' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <%= form.label :tipoLogradouroNumeroDne %>
          <%= form.select :tipoLogradouroNumeroDne, @options[:tipo_logradouro], {}, { class: 'js-example-basic-single col-sm-12' } %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <%= form.check_box :stSemNumero %>
          <%= form.label :stSemNumero %>
        </div>
      </div>
    </div>
  </div>
  <div class="tab">
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <%= form.label :abastecimentoAgua %>
          <%= form.collection_radio_buttons :abastecimentoAgua, @options[:abastecimento_agua], :second, :first do |b| %>
            <div class="d-block">
              <%= b.radio_button %>
              <%= b.label %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <%= form.label :areaProducaoRural %>
          <%= form.collection_radio_buttons :areaProducaoRural, @options[:posse_uso_terra], :second, :first do |b| %>
            <div class="d-block">
              <%= b.radio_button %>
              <%= b.label %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <%= form.label :destinoLixo %>
          <%= form.collection_radio_buttons :destinoLixo, @options[:destino_lixo], :second, :first do |b| %>
            <div class="d-block">
              <%= b.radio_button %>
              <%= b.label %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <%= form.label :formaEscoamentoBanheiro %>
          <%= form.collection_radio_buttons :formaEscoamentoBanheiro, @options[:escoamento_banheiro], :second, :first do |b| %>
            <div class="d-block">
              <%= b.radio_button %>
              <%= b.label %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <%= form.label :localizacao %>
          <%= form.collection_radio_buttons :localizacao, @options[:localizacao_moradia], :second, :first do |b| %>
            <div class="d-block">
              <%= b.radio_button %>
              <%= b.label %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <%= form.label :materialPredominanteParedesExtDomicilio %>
          <%= form.collection_radio_buttons :materialPredominanteParedesExtDomicilio, @options[:material_predominante_construcao], :second, :first do |b| %>
            <div class="d-block">
              <%= b.radio_button %>
              <%= b.label %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <%= form.label :nuComodos %>
          <%= form.text_field :nuComodos, class: 'form-control btn-pill' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <%= form.label :nuMoradores %>
          <%= form.number_field :nuMoradores, class: 'form-control btn-pill' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <%= form.label :situacaoMoradiaPosseTerra %>
          <%= form.collection_radio_buttons :situacaoMoradiaPosseTerra, @options[:situacao_moradia], :second, :first do |b| %>
            <div class="d-block">
              <%= b.radio_button %>
              <%= b.label %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <%= form.check_box :stDiponibilidadeEnergiaeletrica %>
          <%= form.label :stDiponibilidadeEnergiaeletrica %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <%= form.label :tipoAcessoDomicilio %>
          <%= form.collection_radio_buttons :tipoAcessoDomicilio, @options[:acesso_domicilio], :second, :first do |b| %>
            <div class="d-block">
              <%= b.radio_button %>
              <%= b.label %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <%= form.label :tipoDomicilio %>
          <%= form.collection_radio_buttons :tipoDomicilio, @options[:tipo_domicilio], :second, :first do |b| %>
            <div class="d-block">
              <%= b.radio_button %>
              <%= b.label %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <%= form.label :tratamentoAguaDomicilio %>
          <%= form.collection_radio_buttons :tratamentoAguaDomicilio, @options[:tratamento_agua_domicilio], :second, :first do |b| %>
            <div class="d-block">
              <%= b.radio_button %>
              <%= b.label %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="text-end btn-mb">
    <button class="btn btn-warning" id="prevBtn" type="button">Anterior</button>
    <button class="btn btn-primary" id="nextBtn" type="button">Próximo</button>
    <%= form.submit "Registrar Cadastro Domiliciar", class: "btn btn-success", id: 'submitBtn', style: "display:none" %>
  </div>
  <!-- Circles which indicates the steps of the form:-->
  <div class="text-center">
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
  </div>
<% end %>
