<div class="col-sm-12">
  <div class="card">
    <div class="card-header">
      <h4>Cadastro Domiciliar</h4>
      <p id="notice"><%= notice %></p>
    </div>
    <div class="card-body">
      <% if @household_registrations.empty? %>
        <h5>Sem Registros</h5>
      <% end %>
      <% unless @household_registrations.empty? %>
        <div class="table-responsive">
          <table class="display" id="API-2">
            <thead>
              <th>Uuid</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
            <% @household_registrations.each do |household_registration| %>
              <tr>
                <td><%= household_registration.uuid %></td>
                <td>
                  <%= link_to household_registration do %>
                    <i class="fa fa-eye fa-2x"></i>
                  <% end %>
                </td>
                <td>
                  <%= link_to edit_household_registration_path(household_registration) do %>
                    <i class="fa fa-edit fa-2x"></i>
                  <% end %>
                </td>
                <td>
                  <%= link_to household_registration, method: :delete, data: { confirm: 'Are you sure?' } do %>
                    <i class="fa fa-trash fa-2x"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
    <br>
    <%= paginate @household_registrations %>
    <br>
    <%= link_to 'New Household Registration', new_household_registration_path, id: "addRow", class: 'btn btn-primary mb-3' %>
  </div>
</div>
</div>
