<%= form_with(model: collective_activity_sheet, id: 'regForm', class: 'form-wizard') do |form| %>
  <% if collective_activity_sheet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(collective_activity_sheet.errors.count, "error") %> prohibited this collective_activity_sheet from being saved:</h2>
      <ul>
        <% collective_activity_sheet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="tab">
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <%= form.label :dtAtividadeColetiva %>
          <div class="input-group">
            <%= form.text_field :dtAtividadeColetiva, class: 'btn-pill datepicker-here form-control digits', 'data-language': "en", 'data-bs-original-title': 'data-bs-original-title', title: 'title' %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <%= form.label :numParticipantesProgramados %>
          <%= form.number_field :numParticipantesProgramados, class: 'form-control btn-pill' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <%= form.label :localAtividade %>
          <%= form.number_field :localAtividade, class: 'form-control btn-pill' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <%= form.label :horaInicio %>
          <%= form.text_field :horaInicio, class: 'form-control btn-pill' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <%= form.label :horaFim %>
          <%= form.text_field :horaFim, class: 'form-control btn-pill' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <%= form.label :inep %>
          <%= form.text_field :inep, class: 'form-control btn-pill' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <%= form.label :responsavelCns %>
          <%= form.text_field :responsavelCns, class: 'form-control btn-pill' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <%= form.label :responsavelCnesUnidade %>
          <%= form.text_field :responsavelCnesUnidade, class: 'form-control btn-pill' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <%= form.label :responsavelNumIne %>
          <%= form.number_field :responsavelNumIne, class: 'form-control btn-pill' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <%= form.label :numParticipantes %>
          <%= form.number_field :numParticipantes, class: 'form-control btn-pill' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <%= form.label :numAvaliacoesAlteradas %>
          <%= form.number_field :numAvaliacoesAlteradas, class: 'form-control btn-pill' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <%= form.label :atividadeTipo %>
          <%= form.collection_radio_buttons :atividadeTipo, @options[:tipo_atividade_coletiva], :second, :first do |b| %>
            <div class="d-block">
              <%= b.radio_button %>
              <%= b.label %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <%= form.label :temasParaReuniao %>
          <%= form.collection_check_boxes :temasParaReuniao, @options[:temas_reuniao], :second, :first do |b| %>
            <div class="d-block">
              <%= b.check_box %>
              <%= b.label %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <%= form.label :publicoAlvo %>
          <%= form.collection_check_boxes :publicoAlvo, @options[:publico_alvo], :second, :first do |b| %>
            <div class="d-block">
              <%= b.check_box %>
              <%= b.label %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <%= form.label :praticasTemasParaSaude %>
          <%= form.collection_check_boxes :praticasTemasParaSaude, @options[:praticas_tema_saude], :second, :first do |b| %>
            <div class="d-block">
              <%= b.check_box %>
              <%= b.label %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <%= form.label :tbCdsOrigem %>
          <%= form.number_field :tbCdsOrigem, class: 'form-control btn-pill' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <%= form.label :codigoIbgeMunicipio %>
          <%= form.select :codigoIbgeMunicipio, @options[:municipios], {}, { class: 'js-example-basic-single col-sm-12' } %>
        </div>
      </div>
    </div>
  </div>
  <div class="tab" id="professionals">
    <%= form.fields_for :professionals do |professional| %>
      <%= render 'professional_fields', f: professional %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'add professional', form, :professionals %>
      <br>
      <br>
    </div>
  </div>
  <div class="tab" id="participants">
    <%= form.fields_for :participants do |participant| %>
      <%= render 'participant_fields', f: participant %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'add participant', form, :participants %>
      <br>
      <br>
    </div>
  </div>
  <div class="text-end btn-mb">
    <button class="btn btn-warning" id="prevBtn" type="button">Anterior</button>
    <button class="btn btn-primary" id="nextBtn" type="button">Próximo</button>
    <%= form.submit "Registrar Atividade Coletiva", class: "btn btn-success", id: 'submitBtn', style: "display:none" %>
  </div>
  <!-- Circles which indicates the steps of the form:-->
  <div class="text-center">
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
  </div>
<% end %>
