<div class="nested-fields">
  <h3>Professional</h3>

  <div class="field">
    <%= f.label :cnsProfissional %>
    <%= f.text_field :cnsProfissional %>
  </div>

  <div class="field">
    <%= f.label :codigoCbo2002 %>
    <%= f.text_field :codigoCbo2002 %>
  </div>

  <%= link_to_remove_association "remove professional", f %>

  <br><br><br>
</div>
