<div class="nested-fields">
  <h3>Professional</h3>
  <div class="row">
    <div class="col">
      <div class="mb-3">
        <%= f.label :cnsProfissional %>
        <%= f.text_field :cnsProfissional, class: 'form-control btn-pill required' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="mb-3">
        <%= f.label :codigoCbo2002 %>
        <%= f.select :codigoCbo2002, @options[:cbo],  { prompt: "Selecione CBO" }, { class: 'js-example-basic-single col-sm-12' } %>
      </div>
    </div>
  </div>
  <%= link_to_remove_association "Remover Profissional", f, class: "btn btn-danger" %>
  <br>
  <br>
  <br>
</div>
