<p id="notice"><%= notice %></p>

<h1>Collective Activity Sheets</h1>

<table>
  <thead>
    <tr>
      <th>Uuidficha</th>
      <th>Inep</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @collective_activity_sheets.each do |collective_activity_sheet| %>
      <tr>
        <td><%= collective_activity_sheet.uuidFicha %></td>
        <td><%= collective_activity_sheet.inep %></td>
        <td><%= link_to 'Show', collective_activity_sheet %></td>
        <td><%= link_to 'Edit', edit_collective_activity_sheet_path(collective_activity_sheet) %></td>
        <td><%= link_to 'Destroy', collective_activity_sheet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Collective Activity Sheet', new_collective_activity_sheet_path %>
