<div class="col-sm-12">
  <div class="card">
    <div class="card-header">
      <p id="notice"><%= notice %></p>
      <% if @collective_activity_sheet.xml_file.attached? %>
        <%= link_to 'Baixar XML', rails_blob_url(@collective_activity_sheet.xml_file) %>
      <% end %>
      <br>
      <% if @collective_activity_sheet.thrift_file.attached? %>
        <%= link_to 'Baixar Thrift', rails_blob_url(@collective_activity_sheet.thrift_file) %>
      <% end %>
    </div>
    <div class="card-body">
      <p>
        <strong>Uuidficha:</strong>
        <%= @collective_activity_sheet.uuidFicha %>
      </p>
    </div>
    <div class="card-footer">
      <%= link_to 'Edit', edit_collective_activity_sheet_path(@collective_activity_sheet) %> |
      <%= link_to 'Back', collective_activity_sheets_path %>
    </div>
  </div>
</div>
