<div class="login-card">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'theme-form login-form' }) do |f| %>
    <h4>Login</h4>
    <h6>Welcome back! Log in to your account.</h6>
    <div class="form-group">
      <%= f.label :email %>
      <div class="input-group"><span class="input-group-text"><i class="icon-email"></i></span>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', required: true, placeholder: 'Test@gmail.com' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :password %>
      <div class="input-group"><span class="input-group-text"><i class="icon-lock"></i></span>
        <%= f.password_field :password, autocomplete: "current-password", class: 'form-control', required: true, placeholder: '*********' %>
        <div class="show-hide"><span class="show"></span></div>
      </div>
    </div>
    <% if devise_mapping.rememberable? %>
      <div class="form-group">
        <div class="checkbox">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, 'Remember password' %>
        </div>
        <%= link_to "Forgot your password?", new_password_path(resource_name), class: "link" %>
      </div>
    <% end %>
    <div class="form-group">
      <%= f.submit "Log in", class: "btn btn-primary btn-block" %>
    </div>
    <p>Don't have account?
      <%= link_to "Create Account", new_registration_path(resource_name), class: "ms-2" %>
    </p>
  <% end %>
</div>
