<p id="notice"><%= notice %></p>

<p>
  <strong>Uuidficha:</strong>
  <%= @collective_call.uuidFicha %>
</p>

<p>
  <strong>Inep:</strong>
  <%= @collective_call.inep %>
</p>

<p>
  <strong>Numparticipantes:</strong>
  <%= @collective_call.numParticipantes %>
</p>

<p>
  <strong>Numavaliacoesalteradas:</strong>
  <%= @collective_call.numAvaliacoesAlteradas %>
</p>

<p>
  <strong>Atividadetipo:</strong>
  <%= @collective_call.atividadeTipo %>
</p>

<p>
  <strong>Publicoalvo:</strong>
  <%= @collective_call.publicoAlvo %>
</p>

<p>
  <strong>Tbcdsorigem:</strong>
  <%= @collective_call.tbCdsOrigem %>
</p>

<p>
  <strong>Procedimento:</strong>
  <%= @collective_call.procedimento %>
</p>

<p>
  <strong>Turno:</strong>
  <%= @collective_call.turno %>
</p>

<p>
  <strong>Pseeducacao:</strong>
  <%= @collective_call.pseEducacao %>
</p>

<p>
  <strong>Psesaude:</strong>
  <%= @collective_call.pseSaude %>
</p>

<p>
  <strong>Temasparasaude:</strong>
  <%= @collective_call.temasParaSaude %>
</p>

<p>
  <strong>Praticasemsaude:</strong>
  <%= @collective_call.praticasEmSaude %>
</p>

<p>
  <strong>Participant:</strong>
  <%= @collective_call.Participant_id %>
</p>

<p>
  <strong>Professional:</strong>
  <%= @collective_call.Professional_id %>
</p>

<%= link_to 'Edit', edit_collective_call_path(@collective_call) %> |
<%= link_to 'Back', collective_calls_path %>
