<div class="nested-fields">
  <h3>Resultados de Exame</h3>

  <div class="row">
    <div class="col">
      <div class="mb-3">
        <%= f.label :exame %>
        <%= f.text_field :exame, class: 'form-control btn-pill' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="mb-3">
        <%= f.label :dataSolicitacao %>
        <div class="input-group">
          <%= f.text_field :dataSolicitacao, class: 'btn-pill datepicker-here form-control', 'data-language': "pt-BR", 'data-bs-original-title': 'data-bs-original-title' %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="mb-3">
        <%= f.label :dataRealizacao %>
        <div class="input-group">
          <%= f.text_field :dataRealizacao, class: 'btn-pill datepicker-here form-control', 'data-language': "pt-BR", 'data-bs-original-title': 'data-bs-original-title' %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="mb-3">
        <%= f.label :dataResultado %>
        <div class="input-group">
          <%= f.text_field :dataResultado, class: 'btn-pill datepicker-here form-control', 'data-language': "pt-BR", 'data-bs-original-title': 'data-bs-original-title' %>
        </div>
      </div>
    </div>
  </div>

  <%= link_to_remove_association "remove exam_result", f %>

  <br><br><br>
</div>
