<div class="nested-fields">
  <h3>Exame</h3>
  <div class="field">
    <%= f.label :codigoExame %>
    <%= f.text_field :codigoExame, class: 'form-control btn-pill' %>
  </div>
  <div class="field">
    <%= f.label :solicitadoAvaliado %>
    <%= f.collection_check_boxes :solicitadoAvaliado, @options[:situacao_exame], :second, :first do |b| %>
      <div class="d-block">
        <%= b.check_box %>
        <%= b.label %>
      </div>
    <% end %>
  </div>
  <%= link_to_remove_association "remove exam", f %>
  <br>
  <br>
  <br>
</div>
