<div class="nested-fields">
  <h3>Medicine</h3>

  <div class="field">
    <%= f.label :codigoCatmat %>
    <%= f.text_field :codigoCatmat %>
  </div>

  <div class="field">
    <%= f.label :viaAdministracao %>
    <%= f.text_field :viaAdministracao %>
  </div>

  <div class="field">
    <%= f.label :dose %>
    <%= f.text_field :dose %>
  </div>

  <div class="field">
    <%= f.label :doseUnica %>
    <%= f.text_field :doseUnica %>
  </div>

  <div class="field">
    <%= f.label :usoContinuo %>
    <%= f.text_field :usoContinuo %>
  </div>

  <div class="field">
    <%= f.label :doseFrequenciaTipo %>
    <%= f.text_field :doseFrequenciaTipo %>
  </div>

  <div class="field">
    <%= f.label :doseFrequencia %>
    <%= f.text_field :doseFrequencia %>
  </div>

  <div class="field">
    <%= f.label :doseFrequenciaQuantidade %>
    <%= f.text_field :doseFrequenciaQuantidade %>
  </div>

  <div class="field">
    <%= f.label :doseFrequenciaQuantidade %>
    <%= f.text_field :doseFrequenciaQuantidade %>
  </div>

  <div class="field">
    <%= f.label :doseFrequenciaUnidadeMedida %>
    <%= f.text_field :doseFrequenciaUnidadeMedida %>
  </div>

  <div class="field">
    <%= f.label :dtInicioTratamento %>
    <%= f.text_field :dtInicioTratamento %>
  </div>

  <div class="field">
    <%= f.label :duracaoTratamento %>
    <%= f.text_field :duracaoTratamento %>
  </div>

  <div class="field">
    <%= f.label :duracaoTratamentoMedida %>
    <%= f.text_field :duracaoTratamentoMedida %>
  </div>

  <div class="field">
    <%= f.label :quantidadeReceitada %>
    <%= f.text_field :quantidadeReceitada %>
  </div>

  <%= link_to_remove_association "remove medicine", f %>

  <br><br><br>
</div>
