<p id="notice"><%= notice %></p>

<p>
  <strong>Tpcdsorigem:</strong>
  <%= @individual_call_master.tpCdsOrigem %>
</p>

<p>
  <strong>Uuid:</strong>
  <%= @individual_call_master.uuid %>
</p>

<%= link_to 'Edit', edit_individual_call_master_path(@individual_call_master) %> |
<%= link_to 'Back', individual_call_masters_path %>
