<p id="notice"><%= notice %></p>

<p>
  <strong>Hba1c:</strong>
  <%= @report.hba1c %>
</p>

<p>
  <strong>Ldc:</strong>
  <%= @report.ldc %>
</p>

<p>
  <strong>Pa:</strong>
  <%= @report.pa %>
</p>

<p>
  <strong>Medical adhesion:</strong>
  <%= @report.medical_adhesion %>
</p>

<p>
  <strong>Algorithm adherence:</strong>
  <%= @report.algorithm_adherence %>
</p>

<p>
  <strong>Use aas:</strong>
  <%= @report.use_AAS %>
</p>

<p>
  <strong>Use stain:</strong>
  <%= @report.use_stain %>
</p>

<p>
  <strong>Pains feet hands:</strong>
  <%= @report.pains_feet_hands %>
</p>

<p>
  <strong>Waist measured ratio:</strong>
  <%= @report.waist_measured_ratio %>
</p>

<p>
  <strong>Microalbuminuria evaluation:</strong>
  <%= @report.microalbuminuria_evaluation %>
</p>

<p>
  <strong>Blurred vision:</strong>
  <%= @report.blurred_vision %>
</p>

<p>
  <strong>Periodontal disease evaluation:</strong>
  <%= @report.periodontal_disease_evaluation %>
</p>

<p>
  <strong>Depression assessment:</strong>
  <%= @report.depression_assessment %>
</p>

<p>
  <strong>Presence stroke coronary heart disease:</strong>
  <%= @report.presence_stroke_coronary_heart_disease %>
</p>

<p>
  <strong>Influenza vaccination:</strong>
  <%= @report.influenza_vaccination %>
</p>

<p>
  <strong>H1n1 antipneumococcal:</strong>
  <%= @report.h1n1_antipneumococcal %>
</p>

<p>
  <strong>Participation diabetes nutritional education program:</strong>
  <%= @report.participation_diabetes_nutritional_education_program %>
</p>

<p>
  <strong>Smoker:</strong>
  <%= @report.smoker %>
</p>

<p>
  <strong>Situation:</strong>
  <%= @report.situation %>
</p>

<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', reports_path %>
