<!DOCTYPE html>
<html>
  <head>
    <title>LailaDiagnosis</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag controller_name %>
  </head>
  <body>
    <div class="container">
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <%= image_tag 'laila_diabetes.png', width: 125, alt: "laila-logo" %>
          <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <%= link_to 'Sair', destroy_user_session_path, method: :delete, class: "button is-danger" %>
          </div>
        </div>
      </nav>
      <%= yield %>
    </div>
  </body>
</html>
