<!DOCTYPE html>
<html>
  <head>
    <title>LailaDiagnosis</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_link_tag 'devise', media: 'all' %>
    <%= javascript_pack_tag 'devise' %>
  </head>
  <body>
    <!-- page-wrapper Start-->
    <section>
      <div class="container-fluid p-0">
        <div class="row">
          <div class="col-12">
            <%= yield %>
          </div>
        </div>
      </div>
    </section>
    <!-- page-wrapper end-->
  </body>
</html>
