<div class="nested-fields">
  <h3>Forwarding</h3>

  <div class="field">
    <%= f.label :especialidade %>
    <%= f.text_field :especialidade %>
  </div>

  <div class="field">
    <%= f.label :hipoteseDiagnosticoCid10 %>
    <%= f.text_field :hipoteseDiagnosticoCid10 %>
  </div>

  <div class="field">
    <%= f.label :classificacaoRisco %>
    <%= f.text_field :classificacaoRisco %>
  </div>

  <%= link_to_remove_association "remove forwarding", f %>
  <br><br><br>
</div>
