<p id="notice"><%= notice %></p>

<h1>Individual Calls</h1>

<table>
  <thead>
    <tr>
      <th>Numeroprontuario</th>
      <th>Cnscidadao</th>
      <th>Datanascimento</th>
      <th>Localdeatendimento</th>
      <th>Sexo</th>
      <th>Turno</th>
      <th>Tipoatendimento</th>
      <th>Pesoacompanhamentonutricional</th>
      <th>Alturaacompanhamentonutricional</th>
      <th>Aleitamentomaterno</th>
      <th>Dumdagestante</th>
      <th>Idadegestacional</th>
      <th>Atencaodomiciliarmodalidade</th>
      <th>Vacinaemdia</th>
      <th>Ficouemobservacao</th>
      <th>Nasfs</th>
      <th>Condutas</th>
      <th>Stgravidezplanejada</th>
      <th>Nugestasprevias</th>
      <th>Nupartos</th>
      <th>Racionalidadesaude</th>
      <th>Perimetrocefalico</th>
      <th>Datahorainicialatendimento</th>
      <th>Datahorafinalatendimento</th>
      <th>Examresult</th>
      <th>Professional</th>
      <th>Participant</th>
      <th>Collectiveactivitysheet</th>
      <th>Exam</th>
      <th>Medicine</th>
      <th>Forwarding</th>
      <th>Examresult</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @individual_calls.each do |individual_call| %>
      <tr>
        <td><%= individual_call.numeroProntuario %></td>
        <td><%= individual_call.cnsCidadao %></td>
        <td><%= individual_call.dataNascimento %></td>
        <td><%= individual_call.localDeAtendimento %></td>
        <td><%= individual_call.sexo %></td>
        <td><%= individual_call.turno %></td>
        <td><%= individual_call.tipoAtendimento %></td>
        <td><%= individual_call.pesoAcompanhamentoNutricional %></td>
        <td><%= individual_call.alturaAcompanhamentoNutricional %></td>
        <td><%= individual_call.aleitamentoMaterno %></td>
        <td><%= individual_call.dumDaGestante %></td>
        <td><%= individual_call.idadeGestacional %></td>
        <td><%= individual_call.atencaoDomiciliarModalidade %></td>
        <td><%= individual_call.vacinaEmDia %></td>
        <td><%= individual_call.ficouEmObservacao %></td>
        <td><%= individual_call.nasfs %></td>
        <td><%= individual_call.condutas %></td>
        <td><%= individual_call.stGravidezPlanejada %></td>
        <td><%= individual_call.nuGestasPrevias %></td>
        <td><%= individual_call.nuPartos %></td>
        <td><%= individual_call.racionalidadeSaude %></td>
        <td><%= individual_call.perimetroCefalico %></td>
        <td><%= individual_call.dataHoraInicialAtendimento %></td>
        <td><%= individual_call.dataHoraFinalAtendimento %></td>
        <td><%= individual_call.ExamResult_id %></td>
        <td><%= individual_call.Professional_id %></td>
        <td><%= individual_call.Participant_id %></td>
        <td><%= individual_call.CollectiveActivitySheet_id %></td>
        <td><%= individual_call.Exam_id %></td>
        <td><%= individual_call.Medicine_id %></td>
        <td><%= individual_call.Forwarding_id %></td>
        <td><%= individual_call.ExamResult_id %></td>
        <td><%= link_to 'Show', individual_call %></td>
        <td><%= link_to 'Edit', edit_individual_call_path(individual_call) %></td>
        <td><%= link_to 'Destroy', individual_call, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Individual Call', new_individual_call_path %>
