<p id="notice"><%= notice %></p>

<h1>Individual Calls</h1>

<table>
  <thead>
    <tr>
      <th>Numeroprontuario</th>
      <th>Cnscidadao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @individual_calls.each do |individual_call| %>
      <tr>
        <td><%= individual_call.numeroProntuario %></td>
        <td><%= individual_call.cnsCidadao %></td>
        <td><%= link_to 'Show', individual_call %></td>
        <td><%= link_to 'Edit', edit_individual_call_path(individual_call) %></td>
        <td><%= link_to 'Destroy', individual_call, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Individual Call', new_individual_call_path %>
