<p id="notice"><%= notice %></p>

<% if @individual_call.xml_file.attached? %>
  <%= link_to 'Baixar XML', rails_blob_url(@individual_call.xml_file) %>
<% end %>

<p>
  <strong>Numeroprontuario:</strong>
  <%= @individual_call.numeroProntuario %>
</p>

<p>
  <strong>Cnscidadao:</strong>
  <%= @individual_call.cnsCidadao %>
</p>

<p>
  <strong>Datanascimento:</strong>
  <%= @individual_call.dataNascimento %>
</p>

<p>
  <strong>Localdeatendimento:</strong>
  <%= @individual_call.localDeAtendimento %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @individual_call.sexo %>
</p>

<p>
  <strong>Turno:</strong>
  <%= @individual_call.turno %>
</p>

<p>
  <strong>Tipoatendimento:</strong>
  <%= @individual_call.tipoAtendimento %>
</p>

<p>
  <strong>Pesoacompanhamentonutricional:</strong>
  <%= @individual_call.pesoAcompanhamentoNutricional %>
</p>

<p>
  <strong>Alturaacompanhamentonutricional:</strong>
  <%= @individual_call.alturaAcompanhamentoNutricional %>
</p>

<p>
  <strong>Aleitamentomaterno:</strong>
  <%= @individual_call.aleitamentoMaterno %>
</p>

<p>
  <strong>Dumdagestante:</strong>
  <%= @individual_call.dumDaGestante %>
</p>

<p>
  <strong>Idadegestacional:</strong>
  <%= @individual_call.idadeGestacional %>
</p>

<p>
  <strong>Atencaodomiciliarmodalidade:</strong>
  <%= @individual_call.atencaoDomiciliarModalidade %>
</p>

<p>
  <strong>Vacinaemdia:</strong>
  <%= @individual_call.vacinaEmDia %>
</p>

<p>
  <strong>Ficouemobservacao:</strong>
  <%= @individual_call.ficouEmObservacao %>
</p>

<p>
  <strong>Nasfs:</strong>
  <%= @individual_call.nasfs %>
</p>

<p>
  <strong>Condutas:</strong>
  <%= @individual_call.condutas %>
</p>

<p>
  <strong>Stgravidezplanejada:</strong>
  <%= @individual_call.stGravidezPlanejada %>
</p>

<p>
  <strong>Nugestasprevias:</strong>
  <%= @individual_call.nuGestasPrevias %>
</p>

<p>
  <strong>Nupartos:</strong>
  <%= @individual_call.nuPartos %>
</p>

<p>
  <strong>Racionalidadesaude:</strong>
  <%= @individual_call.racionalidadeSaude %>
</p>

<p>
  <strong>Perimetrocefalico:</strong>
  <%= @individual_call.perimetroCefalico %>
</p>

<p>
  <strong>Datahorainicialatendimento:</strong>
  <%= @individual_call.dataHoraInicialAtendimento %>
</p>

<p>
  <strong>Datahorafinalatendimento:</strong>
  <%= @individual_call.dataHoraFinalAtendimento %>
</p>

<%= link_to 'Edit', edit_individual_call_path(@individual_call) %> |
<%= link_to 'Back', individual_calls_path %>
